In [1]:
import pandas as pd
import numpy as np
import requests
import re
import json
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
raw_data = pd.read_excel('raw_data_scraped.xlsx')

In [4]:
raw_data

                                       Job Title        Company Name                                Location                         Salary        Date                              Industry                                 Descriptions         Seniority Employment                            Job Function                                               Link
0                                   Data Analyst               ASTRO                      Jakarta, Indonesia                            NaN  2022-09-15                Biotechnology Research                                 Data Analyst         Associate  Full-time                  Information Technology  https://id.linkedin.com/jobs/view/data-analyst...
1                                   Data Analyst                JULO                      Jakarta, Indonesia                            NaN  2022-09-19                    Financial Services                                 Data Analyst         Associate  Full-time      Information Technology and Analyst  https://id.linkedin.com/jobs/view/data-analyst...
2                                   Data Analyst               DELOS                      Jakarta, Indonesia                            NaN  2022-09-16                Biotechnology Research                                 Data Analyst  Mid-Senior level  Full-time                  Information Technology  https://id.linkedin.com/jobs/view/data-analyst...
3                                   Data Analyst                Migo             Jakarta, Jakarta, Indonesia                            NaN  2022-09-27                  Software Development                                 Data Analyst       Entry level      Other                  Information Technology  https://id.linkedin.com/jobs/view/data-analyst...
4                                   Data Analyst            Bibit.id  South Jakarta City, Jakarta, Indonesia                            NaN  2022-08-18                    Financial Services                                 Data Analyst         Associate  Full-time                                 Analyst  https://id.linkedin.com/jobs/view/data-analyst...
..                                           ...                 ...                                     ...                            ...         ...                                   ...                                          ...               ...        ...                                     ...                                                ...
974                               Data Scientist             Perqara             Jakarta, Jakarta, Indonesia   IDR7,000,000 - IDR10,000,000  2022-07-15         IT Services and IT Consulting                               Data Scientist         Associate  Full-time                  Information Technology  https://id.linkedin.com/jobs/view/data-scienti...
975                             Backend Engineer  CrediBook (YC W22)             Jakarta, Jakarta, Indonesia                            NaN  2022-09-15                  Software Development                             Backend Engineer       Entry level  Full-time  Engineering and Information Technology  https://id.linkedin.com/jobs/view/backend-engi...
976  Platform and Infrastructure Engineer - SDE1               Lummo             Jakarta, Jakarta, Indonesia  IDR12,000,000 - IDR20,000,000  2022-07-13  Technology, Information and Internet  Platform and Infrastructure Engineer - SDE1         Associate  Full-time                             Engineering  https://id.linkedin.com/jobs/view/platform-and...
977                    Machine Learning Engineer               Finku             Jakarta, Jakarta, Indonesia                            NaN  2022-10-06                    Financial Services                    Machine Learning Engineer       Entry level  Full-time  Engineering and Information Technology  https://id.linkedin.com/jobs/view/machine-lear...
978                               Data Scientist                Aria             Jakarta, Jakarta, Indonesia   IDR6,000,000 - IDR10,000,000  2022-09-07                Biotechnology Research                                          NaN         Associate  Full-time                  Information Technology  https://id.linkedin.com/jobs/view/data-scienti...

[979 rows x 11 columns]

In [5]:
raw_data = raw_data[raw_data['Job Title'].str.contains('Data Analyst|Data Scientist|Business Analyst|Data Engineer|Intelligence', regex = True, na =False)]

## Drop unnecessary column

In [6]:
raw_data.drop(['Descriptions', 'Seniority','Job Function','Link'], axis = 1, inplace = True)

C:\Users\IRONMAM\AppData\Local\Temp\ipykernel_11452\2862202095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data.drop(['Descriptions', 'Seniority','Job Function','Link'], axis = 1, inplace = True)

In [7]:
raw_data

                                             Job Title                                       Company Name                                 Location                         Salary        Date                                           Industry                       Employment
0                                         Data Analyst                                              ASTRO                       Jakarta, Indonesia                            NaN  2022-09-15                             Biotechnology Research                        Full-time
1                                         Data Analyst                                               JULO                       Jakarta, Indonesia                            NaN  2022-09-19                                 Financial Services                        Full-time
2                                         Data Analyst                                              DELOS                       Jakarta, Indonesia                            NaN  2022-09-16                             Biotechnology Research                        Full-time
3                                         Data Analyst                                               Migo              Jakarta, Jakarta, Indonesia                            NaN  2022-09-27                               Software Development                            Other
4                                         Data Analyst                                           Bibit.id   South Jakarta City, Jakarta, Indonesia                            NaN  2022-08-18                                 Financial Services                        Full-time
5                                         Data Analyst                                            Mamikos              Jakarta, Jakarta, Indonesia                            NaN  2022-09-13                      IT Services and IT Consulting                        Full-time
6                                         Data Analyst                   PT Salam Pacific Indonesia Lines           Surabaya, East Java, Indonesia                            NaN  2022-09-27  IT Services and IT Consulting, Transportation,...                        Full-time
7                                         Data Analyst                                          VLink Inc                       Jakarta, Indonesia                            NaN  2022-09-21                      IT Services and IT Consulting                        Full-time
8                                         Data Analyst                                            FIT HUB              Jakarta, Jakarta, Indonesia                            NaN  2022-08-15                      Wellness and Fitness Services                        Full-time
9                                         Data Analyst                                  NoLimit Indonesia               Bandung, Banten, Indonesia                            NaN  2022-09-06                       Online Audio and Video Media                        Full-time
10                                        Data Analyst                                             SehatQ                Jakarta Metropolitan Area                            NaN  2022-09-28                      Wellness and Fitness Services                        Full-time
11                                        Data Analyst                                              NOICE              Jakarta, Jakarta, Indonesia                IDR100 - IDR200  2022-10-06                            Entertainment Providers                        Full-time
12                                        Data Analyst                                  Reku (Rekeningku)              Jakarta, Jakarta, Indonesia                            NaN  2022-09-12                                 Financial Services                        Full-time
13                                        Data Analyst                                              Aruna              Jakarta, Jakarta, Indonesia                            NaN  2022-06-22                                          Fisheries                        Full-time
14                                        Data Analyst                                             Gravel              Jakarta, Jakarta, Indonesia                            NaN  2022-10-03                               Software Development                        Full-time
15                                        Data Analyst                             Somethinc - BeautyHaul              Jakarta, Jakarta, Indonesia                            NaN  2022-08-05                                             Retail                        Full-time
16                                        Data Analyst                                            AgriAku              Jakarta, Jakarta, Indonesia                            NaN  2022-09-05                                            Farming                        Full-time
17                         Data Analyst (Fully Remote)                                          WeNetwork                       Jakarta, Indonesia                            NaN  2022-09-12                            Staffing and Recruiting                        Full-time
18                                        Data Analyst                    Summit Institute of Development   Mataram, West Nusa Tenggara, Indonesia                IDR100 - IDR200  2022-09-16                           Non-profit Organizations                        Full-time
19                                        Data Analyst                                           BintanGO              Jakarta, Jakarta, Indonesia  IDR12,000,000 - IDR20,000,000  2022-09-15                               Software Development                        Full-time
20                                   Data Analyst Lead                                         Blibli.com                       Jakarta, Indonesia                            NaN  2022-10-05               Technology, Information and Internet                        Full-time
21                                Junior Data Engineer                               PT Bank Sinarmas Tbk              Jakarta, Jakarta, Indonesia                            NaN  2022-09-12                                            Banking                        Full-time
22                                        Data Analyst                                           INDOZONE              Jakarta, Jakarta, Indonesia                            NaN  2022-09-12                       Online Audio and Video Media                        Full-time
23                                        Data Analyst                                  Great Giant Foods             Tangerang, Banten, Indonesia                            NaN  2022-09-25                         Food and Beverage Services                        Full-time
24                                        Data Analyst                                         Thinkmatch              Jakarta, Jakarta, Indonesia    IDR7,500,000 - IDR9,000,000  2022-09-01                      IT Services and IT Consulting                        Full-time
25                                        Data Analyst                                  Great Giant Foods              Jakarta, Jakarta, Indonesia                            NaN  2022-05-09                                    Food Production                        Full-time
26                                        Data Analyst                                           Paper.id              Jakarta, Jakarta, Indonesia                            NaN  2022-07-24                      IT Services and IT Consulting                        Full-time
27                                        Data Analyst                          PT Barrans Global Mandiri               Bandung, Banten, Indonesia                            NaN  2022-08-21                      IT Services and IT Consulting                        Full-time
28                                        Data Analyst                          Mediatropy Digital Agency                                Indonesia                            NaN  2022-10-05                                                NaN                              NaN
29                      Business & Data Analyst intern                               Little Joy Indonesia              Jakarta, Jakarta, Indonesia    IDR1,000,000 - IDR1,500,000  2022-09-04                                      Manufacturing                       Internship
31                                        Data Analyst                        PT Berlian Sistem Informasi              Jakarta, Jakarta, Indonesia                            NaN  2022-09-07                      IT Services and IT Consulting                        Full-time
32                                        Data Analyst                           PT Global Urban Esensial  South Tangerang City, Banten, Indonesia                            NaN  2022-08-24                               Software Development                        Full-time
33                                 Senior Data Analyst                                            Moladin              Jakarta, Jakarta, Indonesia                            NaN  2022-09-11                        Motor Vehicle Manufacturing                        Full-time
34                                        Data Analyst                                          Celerates              Jakarta, Jakarta, Indonesia                            NaN  2022-09-12                      IT Services and IT Consulting                        Full-time
35                                        Data Analyst                       PT Macra Teknologi Indonesia              Jakarta, Jakarta, Indonesia                            NaN  2022-10-05                               Software Development                        Full-time
36                   Data Analyst Reporting Specialist                                  Asia Pulp & Paper                       Jakarta, Indonesia                            NaN  2022-09-14             Paper and Forest Product Manufacturing                         Contract
37                                        Data Analyst                                          JALA Tech            Sleman, Yogyakarta, Indonesia                            NaN  2022-09-30                                          Fisheries                        Full-time
39                                        Data Analyst                                          JALA Tech        Yogyakarta, Yogyakarta, Indonesia    IDR3,500,000 - IDR6,000,000  2022-09-29                      IT Services and IT Consulting                        Full-time
40                               Business Data Analyst                        Discover Financial Services                Us, West Papua, Indonesia                            NaN  2022-09-29       Banking, Financial Services, and Hospitality                        Full-time
41                                 Retail Data Analyst                                     Asuransi Astra              Jakarta, Jakarta, Indonesia                            NaN  2022-09-23                                          Insurance                        Full-time
42                             Data Analyst Operations                                           FinAccel              Jakarta, Jakarta, Indonesia                            NaN  2022-10-05                                 Financial Services                        Full-time
43                              Data Analyst, Surabaya                                               Grab           Surabaya, West Java, Indonesia                            NaN  2022-09-29               Technology, Information and Internet                        Full-time
44                                        Data Analyst                                         Tiara Hana              Bogor, West Java, Indonesia                            NaN  2022-10-04                                                NaN                              NaN
45                                        Data Analyst          PT Kreatifitas Sinergisme Teknoindo (KST)              Jakarta, Jakarta, Indonesia                            NaN  2022-09-21                      IT Services and IT Consulting                        Full-time
46                                        Data Analyst                     Indocyber Global Teknologi, PT              Jakarta, Jakarta, Indonesia                            NaN  2022-09-13                      IT Services and IT Consulting                         Contract
47                                        Data Analyst                                              Luxen              Jakarta, Jakarta, Indonesia                            NaN  2022-08-29                                             Retail                        Full-time
48                                        Data Analyst                               Valbury Asia Futures              Jakarta, Jakarta, Indonesia    IDR5,000,000 - IDR6,000,000  2022-08-16                                 Financial Services                        Full-time
49                                        Data Analyst                                Power Commerce Asia              Jakarta, Jakarta, Indonesia                            NaN  2022-09-14                      IT Services and IT Consulting                        Full-time
50                Business Intelligence (Data Analyst)                                   Youtap Indonesia              Jakarta, Jakarta, Indonesia  IDR10,000,000 - IDR15,000,000  2022-09-08                                 Financial Services                        Full-time
52                              Marketing Data Analyst                                           DKATALIS              Jakarta, Jakarta, Indonesia                            NaN  2022-09-12                      IT Services and IT Consulting                        Full-time
53                        Data Analyst (Amaan Project)                                           DKATALIS              Jakarta, Jakarta, Indonesia                            NaN  2022-09-16                      IT Services and IT Consulting                        Full-time
54                                        Data Analyst             Clove Research and Marketing Analytics                       Jakarta, Indonesia                            NaN  2022-10-07                                                NaN                              NaN
55                                        Data Analyst                                 ATI Business Group              Jakarta, Jakarta, Indonesia                            NaN  2022-09-06                                Travel Arrangements                        Full-time
56                               Data Analyst KG Media                                    KOMPAS GRAMEDIA         West Jakarta, Jakarta, Indonesia                            NaN  2022-07-11                                   Media Production                        Full-time
58                                        Data Analyst                                        Alamii Food              Jakarta, Jakarta, Indonesia    IDR5,500,000 - IDR7,200,000  2022-08-10                                      Manufacturing                        Full-time
59                            Data Analyst (Full Time)                                             Lumina             Tangerang, Banten, Indonesia                            NaN  2022-09-18                                                NaN                        Full-time
60                             Data Analyst Consultant                Nomura Research Institute Indonesia                       Jakarta, Indonesia                            NaN  2022-09-08                      IT Services and IT Consulting                        Full-time
61                      Data Analyst Digital Marketing                              DIGIMARKA Corporation            Bantul, Yogyakarta, Indonesia                            NaN  2022-09-22  Advertising Services and Public Relations and ...                        Full-time
63                                        Data Analyst                                          KoinWorks              Jakarta, Jakarta, Indonesia                            NaN  2022-08-24                      IT Services and IT Consulting                        Full-time
64   Data Analyst - Corporate Data, Engineering and...                                             Shopee                       Jakarta, Indonesia                            NaN  2022-10-02                               Software Development                        Full-time
65                             Data Analyst-User Trust                                         BukuWarung              Jakarta, Jakarta, Indonesia                            NaN  2022-06-27                               Software Development                        Full-time
66                                        Data Analyst                                 Kece Entertainment              Jakarta, Jakarta, Indonesia                            NaN  2022-09-26  Advertising Services and Public Relations and ...                        Full-time
67     Data Analyst - Universitas Multimedia Nusantara                                    KOMPAS GRAMEDIA             Tangerang, Banten, Indonesia                            NaN  2022-09-27                                   Media Production                        Full-time
68                                        Data Analyst                      PT Code Development Indonesia              Jakarta, Jakarta, Indonesia                            NaN  2022-07-07                               Software Development                        Full-time
69                                        Data Analyst                                                KST              Jakarta, Jakarta, Indonesia                            NaN  2022-09-05                                                NaN                        Full-time
71                                        Data Analyst                             Horangi Cyber Security                       Jakarta, Indonesia                            NaN  2022-09-14  Computer and Network Security and Technology, ...                        Full-time
73                                        Data Analyst                                            Onstock              Jakarta, Jakarta, Indonesia   IDR8,000,000 - IDR10,000,000  2022-08-15                      IT Services and IT Consulting                        Full-time
74                                        Data Analyst                                     Lionel Express             Tangerang, Banten, Indonesia                            NaN  2022-09-01                 Freight and Package Transportation                        Full-time
75             Associate Business Intelligence Analyst                                          tiket.com              Jakarta, Jakarta, Indonesia                            NaN  2022-08-22                               Software Development                        Full-time
77                                        Data Analyst                                            Hon&yan              Jakarta, Jakarta, Indonesia    IDR4,500,000 - IDR5,000,000  2022-09-28                                             Retail                        Full-time
78                                   Data Analyst Risk                                           FinAccel                       Jakarta, Indonesia                            NaN  2022-09-15                                             Retail                        Full-time

## Checking Data

In [8]:
raw_data['Job Title'].unique()

array(['Data Analyst', 'Data Analyst (Fully Remote)', 'Data Analyst Lead',
       'Junior Data Engineer', 'Business & Data Analyst intern',
       'Senior Data Analyst', 'Data Analyst Reporting Specialist',
       'Business Data Analyst', 'Retail Data Analyst',
       'Data Analyst Operations', 'Data Analyst, Surabaya',
       'Business Intelligence (Data Analyst)', 'Marketing Data Analyst',
       'Data Analyst (Amaan Project)', 'Data Analyst KG Media',
       'Data Analyst (Full Time)', 'Data Analyst Consultant',
       'Data Analyst Digital Marketing',
       'Data Analyst - Corporate Data, Engineering and Technology, Sea Labs',
       'Data Analyst-User Trust',
       'Data Analyst - Universitas Multimedia Nusantara',
       'Associate Business Intelligence Analyst', 'Data Analyst Risk',
       'Business Intelligence Analyst',
       'Business Development - Data Analyst Staff', 'Sharia Data Analyst',
       'Reporting & Data Analyst (Operations Digital Banking)',
       'Junior Data Analyst',
       'Business Intelligence Analyst (Junior Level)',
       'Business Data Analyst Specialist', 'HR & Data Analyst, Executive',
       'Technical Data Analyst (fresh graduates may apply)',
       'CVM Data Analyst', 'Business & Data Analyst',
       'Associate Data Intelligence', 'Business Intelligence',
       '(Remote) Business Intelligence Analyst',
       'Operation Data Analyst (Operation)', 'Digital Data Analyst',
       'Lead Data Analyst', 'Data Engineering Analyst',
       'Fraud Data Analyst', 'Data Analyst - Sales Campaign',
       'Business Intelligence & Analyst', 'Data Engineer',
       'Business Intelligence Associate', 'Data Engineer Intern',
       'Data Analyst Section Head', 'Market Data Analyst',
       'Analyst - Artificial Intelligence & Data - ID',
       'Senior Data Analyst (Growth)', 'Senior Data Analyst (Finance)',
       'Principal Data Analyst', 'Spatial Data Analyst',
       'Staff Marketing Data Analyst', 'Business Intelligence Intern',
       'Staff Data Analyst',
       '(Remote) Senior Business Intelligence Analyst',
       'Senior Data Analyst (Risk & Operations)',
       'Senior Data Analyst / Data Analyst Lead - AgTech',
       'Senior Business Intelligence',
       'Senior Business Intelligence Analyst',
       'Business Intelligence Engineer',
       'Data Engineer (Remote Possible)', 'Data Engineer (Yogyakarta)',
       'Senior Data Analyst - FinTech', 'Junior Data Engineer - WFO',
       'Sr Data Analyst / Data Scientist',
       'Community Engagement and Data Analyst (July 2022)',
       'Data Analyst Lecturer - Part Time',
       'Assistant Manager, Data Analyst Transport',
       'Senior Data Analyst (Logistics Tech)',
       'Data Engineer & Insight Lead', 'Data Engineer Staff',
       'IT Business Intelligence Specialist',
       'Data Intelligence [SIRCLO Future Talents]',
       'Data Engineer E-Commerce',
       'Data Intelligence - Project Management Intern',
       'Data Engineer (Processing)', 'Sr Business Intelligence',
       'Lead Data Analyst - Financial Services',
       'Senior Medical Data Analyst', 'ETL / Data Engineer',
       'Data Analyst Manager', 'Data Engineering',
       'Analytics Consultant / Data Engineer / Business Intelligence',
       'Associate Business Intelligence Engineer', 'Data Analyst Intern',
       'Lead Data Engineer', 'Web Intelligence Analyst',
       'Data Analyst Internship', 'Data Engineer (for AMAAN Project)',
       'Data Analytics/Business Intelligence Mentor',
       'Internship Data Analyst', 'Data Engineer Coordinator',
       'Business Intelligence Analyst - Merchant Payments',
       'Sr. Data Analytics & Intelligence',
       'Business Intelligence Consultant',
       'Business Intelligence Analyst - Risk',
       'Analytics Consultant (Data Engineer / Data scientist / Business Intelligence)',
       'Data Engineer - QuantumBlack',
       'Senior Business Intelligence Analyst - GoPay',
       'Competitive Intelligence Analyst', 'Data Analyst (Intern)',
       'Business Intelligence & Analyst - Digital Banking Business, SeaBank',
       'Business Intelligence Lead', 'Consultant - Data Engineer - ID',
       'Business Intelligence Analyst (Head Office)',
       'Data Analyst (English fluency is a MUST)',
       'IT Business Analyst (Indonesia)',
       'Finance Accounting Business Analyst',
       'IT Business Analyst (Internship)', 'Data Engineer Lead',
       'Business Intelligence Analyst Intern', 'Data Engineer - BANKING',
       'IT Data Engineer',
       'Business Intelligence Analyst- Financial Services',
       'Data Engineer(Teradata)',
       'Data Analyst(Bangkok Based, relocation provided)',
       'Data Engineer Manager', 'Business Intelligence Developer',
       'Middle Data Engineer - WFO', 'Data Engineer - Legal Tech',
       'Data Engineer [SIRCLO Future Talents]',
       'Data Engineer - World Trading Group (WTG)',
       'Data Engineer (Senior/Lead)',
       'Data Analyst (Statistics/Python/BI) (Bangkok-based, relocation provided)',
       'Data Analyst, Strategic Partnerships( Bangkok based)',
       'IT Business Analyst', 'Lead IT Data Engineer',
       'Telemarketing Data Analyst (Mandarin Speaker)',
       'Cloud Data Engineer', 'Data Engineer Sys Admin for Big Data',
       'Senior Data Engineer', 'Data Engineer (Lead/Principal/Head)',
       'Associate Data Analyst- Customer Experience Group | Bangkok-based',
       'Senior Information Technology Business Analyst',
       'GCP Data Engineer (Remote)',
       'Data Engineer - Game & Customer Relationship Management, Engineering and Technology, Sea Labs',
       'IT Banking - Business Intelligence Engineer',
       'System Analyst - Business Analyst', 'Freelance Data Engineer',
       'Credit Risk & Collection Data Analyst (Bangkok-based)',
       'Business Intelligence Manager',
       'Information Technology Business Analyst',
       'Business Intelligence - Financial Services',
       'Senior Data Analyst (Bangkok Based, relocation provided)',
       'ETL Developer/Data Engineer', 'Business Intelligence Instructor',
       'Senior/Staff Data Engineer', 'IT Business Analyst Supervisor',
       'Business Analyst Finance and Accounting',
       'Senior Data Analyst, Partner Development â€“ (Statistics/ML/BI) (Bangkok-based, relocation provided)',
       'IT Business Analyst Assistant Manager', 'Jr Data Scientist',
       'SAP IT Business Analyst',
       'Analyst / Senior Analyst â€“ Business Intelligence & Operations [Bangkok Based]',
       'Client Engineering - Data Engineer',
       'Business Intelligence & Corporate Strategy',
       'Busiess Intelligence',
       'Business Developer Manager - Artificial Intelligence computer vision',
       'IT Data Engineer (Senior - Amazon Web Services)',
       'IT Business Analyst Digital / Core / CRM', 'Data Scientist',
       'IT Business Alignment (IT Business Analyst)',
       'Data Scientist Intern (Remote)',
       'Senior Business Intelligence Analyst (Bangkok based, relocation provided)',
       'IT Business Analyst - Life Insurance',
       'Finance Business Analyst (Assistant Manager)',
       'Senior Data Engineer - SMB', 'Associate Data Scientist',
       'IT Business Analyst (Banking & Insurance)',
       'Business Analyst and ERP Functional Analyst',
       'Senior AWS Data Engineer', 'Business Analyst (Paid Internship)',
       'Front Office Business Functional (Business Analyst)',
       'Data Scientist Role', 'IT Business Analyst (Insurance)',
       'Data Scientist (remote, freelance)', 'Expert, Data Scientist',
       'Business Partnering â€“ Front Office Business Analyst/ Functional'],
      dtype=object)

In [9]:
raw_data['Company Name'].unique()

array(['ASTRO', 'JULO', 'DELOS', 'Migo', 'Bibit.id', 'Mamikos',
       'PT Salam Pacific Indonesia Lines', 'VLink Inc', 'FIT HUB',
       'NoLimit Indonesia', 'SehatQ', 'NOICE', 'Reku (Rekeningku)',
       'Aruna', 'Gravel', 'Somethinc - BeautyHaul', 'AgriAku',
       'WeNetwork', 'Summit Institute of Development', 'BintanGO',
       'Blibli.com', 'PT Bank Sinarmas Tbk', 'INDOZONE',
       'Great Giant Foods', 'Thinkmatch', 'Paper.id',
       'PT Barrans Global Mandiri', 'Mediatropy Digital Agency',
       'Little Joy Indonesia', 'PT Berlian Sistem Informasi',
       'PT Global Urban Esensial', 'Moladin', 'Celerates',
       'PT Macra Teknologi Indonesia', 'Asia Pulp & Paper', 'JALA Tech',
       'Discover Financial Services', 'Asuransi Astra', 'FinAccel',
       'Grab', 'Tiara Hana', 'PT Kreatifitas Sinergisme Teknoindo (KST)',
       'Indocyber Global Teknologi, PT', 'Luxen', 'Valbury Asia Futures',
       'Power Commerce Asia', 'Youtap Indonesia', 'DKATALIS',
       'Clove Research and Marketing Analytics', 'ATI Business Group',
       'KOMPAS GRAMEDIA', 'Alamii Food', 'Lumina',
       'Nomura Research Institute Indonesia', 'DIGIMARKA Corporation',
       'KoinWorks', 'Shopee', 'BukuWarung', 'Kece Entertainment',
       'PT Code Development Indonesia', 'KST', 'Horangi Cyber Security',
       'Onstock', 'Lionel Express', 'tiket.com', 'Hon&yan',
       'PT. Sigma Digital Nusantara', 'Kitabisa', 'detikcom',
       'Stampindo Lancar Jaya PT', 'byOrange', 'Pt Tns Raksasa Indonesia',
       'Pt The Lorry Online Indonesia',
       'PT Hadir Mengharumkan Nusantara (HMNS)', 'Cermati.com',
       'AIA Indonesia', 'Qraved', 'Tokopedia', 'Deliveree Indonesia',
       'PT Alto Network', 'PT. XL Axiata Tbk', 'Ara Savis Sejahtera PT',
       'OrderOnline.id', 'SIRCLO', 'Ninja Van', 'TaniHub',
       'Pt Saga Digital Studio', 'Talenta Sumber Daya Manusia PT',
       'RFB Finance Semarang', 'Astra Financial', 'SeaBank Indonesia',
       'RCTI+', 'PT. Tiara Hana Indonesia', 'DANA Indonesia',
       'Arbeit Consultancy', 'Andalin', 'PT Mahaka Radio Digital',
       'PT. Bank MNC Internasional, Tbk.',
       'Funding Societies | Modalku Group', 'Manuva', 'Glints',
       'PT Digital Wings Indonesia', 'EdenFarm', 'Deloitte',
       'PT SABOTEN MILENIAL INDONESIA', 'Virgo', 'dentsu international',
       'Tentang Anak', 'PT Asta Protek Jiarsi', 'Earthworm Foundation',
       'PT Bank Aladin Syariah Tbk', 'Gojek', 'PT. Mitra Solutech Utama',
       'Multi Garmentama', 'Binar Academy', 'Mattel Asia Pacific',
       'Mekari', 'Annieland.ID', 'Octopus Indonesia', 'Bukalapak',
       'Halodoc', 'Viu', 'Nanovest',
       'PT Bank Multiarta Sentosa Tbk (Bank MAS)', 'Tada',
       'Chickin Indonesia', 'Xiaomi Technology',
       'PT Health Today Indonesia', 'Robert Walters', 'Meiro',
       'AlteaCare', 'Xapiens Teknologi Indonesia', 'amalan international',
       'Scout.inc', 'PT Tennova Cipta Inatech',
       'Purwadhika Digital Technology School', 'Lancesoft Indonesia',
       'Waresix', 'PT Astra Welab Digital Arta (Maucash)',
       'PT. Yuinsight Technologies International', 'Orang Tua Group',
       'PT Lion Super Indo', 'Kargo Technologies', 'PT. Serasi Autoraya',
       'Shox Rumahan', 'Renos', 'Klik Digital Sinergi', 'Qoala',
       'Global Excel Indonesia', 'Lion Parcel', 'PT Satkomindo Mediyasa',
       'Emos Global Digital', 'Eratani', 'NTT Ltd.', 'Dompet Kilat',
       'PT Bina Artha', 'PT Deptech Digital Indonesia', 'DOKU', 'iZeno',
       'PASIFIK SATELIT NUSANTARA',
       'PT. Eden Pangan Indonesia (Eden Farm)',
       'Ralali.com - B2B Marketplace',
       'PT.Enseval Putera Megatrading Tbk',
       'PT. Pricebook Digital Indonesia', 'ilmuOne Data',
       'PT. Quantus Telematika Indonesia',
       'PT Indopasifik Teknologi Medika Indonesia',
       'PT. Elevenia Digital Teknologi Sukses (part of Salim Group)',
       'Artapala Telekomindo', 'Jatis Mobile', 'PT Qtera Mandiri',
       'Finku', 'Ascendeum', 'Binar Academy - External Project', 'UENA',
       'Bitlabs Academy', 'PT Allo Bank Indonesia Tbk',
       'DGN Media Italia Srl', 'Genomik Solidaritas Indonesia',
       'GoTo Financial', 'Chick-in', 'PT Juke Solusi Teknologi',
       'Generasi Teknologi Buana',
       'PT Widya Adijaya Nusantara (Widya Security)',
       'QuantumBlack, AI by McKinsey', 'PT Jasa Kelola Asia',
       'Qiscus Pte Ltd', 'Qiscus', 'Perqara', 'Kamoro Maxima Integra',
       'NRI (Nomura Research Institute)',
       'Pt Nomura Research Institute Indonesia', 'SeaMoney',
       'NTT DATA INDONESIA', 'Pt Datasintesa Teknologi Nusantara',
       'PT Karoten Asia Pasifik', 'PT. Mega Harapan Mulia (Kelas.com)',
       'PT Bawana Margatama', 'PT Generasi Teknologi Buana',
       'PT. Kulego Tiga Kreasi', 'Hangry', 'Renos.id',
       'Millenium Pharmacon International', 'KreasITindo', 'Aria',
       'PT Global Data Inspirasi', 'Xtremax',
       'PT MANDALA DWIPANTARA PROTEKSI', 'PT. Nawa Data Solutions',
       'Flash Coffee', 'SIGMATECH', 'PT I Like Gym Indonesia',
       'Mapan - PT Ruma (Rekan Usaha Mikro Anda)',
       'PT. Asian Sigma Technology', 'Agoda', 'Pegipegi',
       'PT. IDStar Cipta Teknologi', 'Cargill', 'Indodana', 'Ralali',
       'PT. Swadharma Duta Data', 'Philip Morris International',
       'AdaPundi', 'PT. CYBERTREND INTRABUANA',
       'PAS Technologies (Pastech/Pashouses)', 'CINEMA XXI',
       'Pt Vanz Inovatif Teknologi (qbit)', 'Michael Page',
       'Bumi Amartha Teknologi Mandiri', 'NTT', 'MyGlit.com',
       'Charcentric', 'PT Edsen Gudang Komputerindo',
       'BOSNET Distribution Indonesia', 'PT Osell Selection Indonesia',
       'Toptal', 'Kawan Lama Group', 'Bernofarm', 'Moonlay Technologies',
       'PT Anabatic Digital Raya', 'PT Rebel GoFood Indonesia',
       'Tata Consultancy Services', 'Pt Linov Roket Prestasi',
       'Prospero Solutions', 'PT. Media Digitech Indonesia', 'PHINCON',
       'PT. Algoritma Data Indonesia', 'Pt Platinumetrix Global Inovasi',
       'Coda Payments', 'PT. Tunas Ridean Tbk . (Tunas Group)',
       'PT Xapiens Teknologi Indonesia',
       'Pt. Tiga Daya Digital Indonesia', 'Pasar Dana Pinjaman',
       'PT. EMS Paramitra',
       'ABeam Consulting Indonesia | Data Management and Analytics Sector',
       'PT MNC Insurance Indonesia', 'PT Imani Prima',
       'NTT INDONESIA TECHNOLOGY', 'PT MNC Asuransi Indonesia',
       'P3SM - Pusat Pembinaan Pelatihan dan Sertifikasi Mandiri', 'IBM',
       'Alfabeta Solusi Nusantara', 'PFI Mega Life Insurance',
       'Intrias Mandiri Sejati', 'AwanTunai', 'Amartha', 'Dans Multi Pro',
       'Shiseido', 'PT. Informasi Teknologi Indonesia', 'Awan Tunai',
       'Blue Bird Group', 'PT. Indocyber Global Technology',
       'Asian Technology Solutions', 'Thinktive', 'Desty Indonesia',
       'Airee Business Centre', 'Wilmar Consultancy Services',
       'Telkomsel', 'Hire Digital', 'PT. Chakra Giri Energi Indonesia',
       'PT Qerja Manfaat Bangsa (QMB)'], dtype=object)

In [10]:
raw_data['Salary'].unique() #Ada Nan, NonIDR, dan salary yang tidak meyakinkan (IDR100)

array([nan, 'IDR100 - IDR200', 'IDR12,000,000 - IDR20,000,000',
       'IDR7,500,000 - IDR9,000,000', 'IDR1,000,000 - IDR1,500,000',
       'IDR3,500,000 - IDR6,000,000', 'IDR5,000,000 - IDR6,000,000',
       'IDR10,000,000 - IDR15,000,000', 'IDR5,500,000 - IDR7,200,000',
       'IDR8,000,000 - IDR10,000,000', 'IDR4,500,000 - IDR5,000,000',
       'IDR5,000,000 - IDR7,000,000', 'IDR6,000,000 - IDR10,000,000',
       'IDR5,250,000 - IDR6,000,000', 'IDR5,500,000 - IDR7,000,000',
       'IDR6,000,000 - IDR9,000,000', 'IDR1,500,000 - IDR1,500,100',
       'IDR20,000,000 - IDR30,000,000', 'IDR5,750,000 - IDR10,250,000',
       'IDR100 - IDR25,000,000', 'IDR5,500,000 - IDR6,500,000',
       'IDR12,000,000 - IDR18,000,000', 'IDR1,000,000 - IDR1,100,000',
       'IDR5,000,000 - IDR8,000,000', 'IDR6,000,000 - IDR12,000,000',
       'IDR1,200,000 - IDR1,500,000', 'IDR2,000,000 - IDR2,000,000',
       'IDR8,000,000 - IDR20,000,000', 'IDR7,000,000 - IDR9,000,000',
       'IDR500,000 - IDR1,000,000', 'IDR4,650,000 - IDR5,100,000',
       'IDR5,500,000 - IDR10,000,000', 'IDR16,000,000 - IDR19,000,000',
       'IDR10,000,000 - IDR13,000,100', 'MYR5,000 - MYR10,000',
       'IDR8,000,000 - IDR12,000,000', 'IDR9,000,000 - IDR13,000,000',
       'IDR13,000,000 - IDR18,000,000', 'IDR10,000,000 - IDR13,000,000',
       'IDR9,000,000 - IDR12,000,000', 'IDR6,000,000 - IDR8,000,000',
       'IDR10,000,000 - IDR17,000,000', 'IDR3,000,000 - IDR3,500,000',
       'IDR9,000,000 - IDR14,000,000', 'IDR7,000,000 - IDR10,000,000'],
      dtype=object)

In [11]:
raw_data['Industry'].unique()

array(['Biotechnology Research', 'Financial Services',
       'Software Development', 'IT Services and IT Consulting',
       'IT Services and IT Consulting, Transportation, Logistics, Supply Chain and Storage, and Truck Transportation',
       'Wellness and Fitness Services', 'Online Audio and Video Media',
       'Entertainment Providers', 'Fisheries', 'Retail', 'Farming',
       'Staffing and Recruiting', 'Non-profit Organizations',
       'Technology, Information and Internet', 'Banking',
       'Food and Beverage Services', 'Food Production', nan,
       'Manufacturing', 'Motor Vehicle Manufacturing',
       'Paper and Forest Product Manufacturing',
       'Banking, Financial Services, and Hospitality', 'Insurance',
       'Travel Arrangements', 'Media Production',
       'Advertising Services and Public Relations and Communications Services',
       'Computer and Network Security and Technology, Information and Internet',
       'Freight and Package Transportation', 'Fundraising',
       'Computer Hardware Manufacturing, Software Development, and Computer Networking Products',
       'Venture Capital and Private Equity Principals',
       'Textile Manufacturing',
       'Transportation, Logistics, Supply Chain and Storage',
       'Telecommunications',
       'Food and Beverage Services and Food and Beverage Manufacturing',
       'Truck Transportation', 'Consumer Services',
       'Banking and Financial Services',
       'IT Services and IT Consulting and Financial Services',
       'Advertising Services',
       'IT Services and IT Consulting, Software Development, and Business Consulting and Services',
       'Business Consulting and Services', 'Medical Practices',
       'Environmental Services',
       'Design Services, Manufacturing, and Entertainment Providers',
       'Real Estate', '\n          Truck Transportation\n          ',
       'Online Audio and Video Media, Technology, Information and Internet, and Entertainment Providers',
       'Hospitals and Health Care', 'Education Administration Programs',
       'IT Services and IT Consulting, Banking, and Financial Services',
       'Market Research, Research Services, and Truck Transportation',
       '\n          Software Development\n          ',
       'Information Services', 'Education Management',
       'Professional Training and Coaching',
       'Food and Beverage Manufacturing',
       'IT Services and IT Consulting and Software Development',
       'Primary and Secondary Education', 'Human Resources Services',
       'Banking, Insurance, and Business Consulting and Services',
       '\n          Technology, Information and Internet\n          ',
       'Food and Beverage Services, Chemical Manufacturing, and Food and Beverage Manufacturing',
       'Tobacco Manufacturing and Manufacturing',
       'IT Services and IT Consulting, Telecommunications, and Biotechnology Research',
       'IT Services and IT Consulting and Retail',
       'Pharmaceutical Manufacturing',
       'IT Services and IT Consulting and Insurance',
       'Computer and Network Security', 'Computer Hardware Manufacturing',
       'Manufacturing and Paper and Forest Product Manufacturing',
       'Personal Care Product Manufacturing, Manufacturing, and Retail',
       'IT Services and IT Consulting, Truck Transportation, and Airlines and Aviation',
       'Research Services and Telecommunications', 'Oil and Gas',
       'Manufacturing, Financial Services, and Paper and Forest Product Manufacturing'],
      dtype=object)

In [12]:
raw_data['Location'].unique()

array(['Jakarta, Indonesia', 'Jakarta, Jakarta, Indonesia',
       'South Jakarta City, Jakarta, Indonesia',
       'Surabaya, East Java, Indonesia', 'Bandung, Banten, Indonesia',
       'Jakarta Metropolitan Area',
       'Mataram, West Nusa Tenggara, Indonesia',
       'Tangerang, Banten, Indonesia', 'Indonesia',
       'South Tangerang City, Banten, Indonesia',
       'Sleman, Yogyakarta, Indonesia',
       'Yogyakarta, Yogyakarta, Indonesia', 'Us, West Papua, Indonesia',
       'Surabaya, West Java, Indonesia', 'Bogor, West Java, Indonesia',
       'West Jakarta, Jakarta, Indonesia',
       'Bantul, Yogyakarta, Indonesia', 'Bandung, East Java, Indonesia',
       'Central Jakarta, Jakarta, Indonesia',
       'Semarang, Central Java, Indonesia',
       'Malang, East Java, Indonesia', 'Bekasi, West Java, Indonesia',
       'Yogyakarta, Indonesia', 'Tangerang Selatan, Banten, Indonesia',
       'Pontianak, West Kalimantan, Indonesia',
       'Yosowilangun, East Java, Indonesia',
       'Bandung, West Java, Indonesia', 'Bali, Indonesia',
       'Jakarta Selatan, Jakarta, Indonesia'], dtype=object)

In [13]:
raw_data['Date'].unique()

array(['2022-09-15', '2022-09-19', '2022-09-16', '2022-09-27',
       '2022-08-18', '2022-09-13', '2022-09-21', '2022-08-15',
       '2022-09-06', '2022-09-28', '2022-10-06', '2022-09-12',
       '2022-06-22', '2022-10-03', '2022-08-05', '2022-09-05',
       '2022-10-05', '2022-09-25', '2022-09-01', '2022-05-09',
       '2022-07-24', '2022-08-21', '2022-09-04', '2022-09-07',
       '2022-08-24', '2022-09-11', '2022-09-14', '2022-09-30',
       '2022-09-29', '2022-09-23', '2022-10-04', '2022-08-29',
       '2022-08-16', '2022-09-08', '2022-10-07', '2022-07-11',
       '2022-08-10', '2022-09-18', '2022-09-22', '2022-10-02',
       '2022-06-27', '2022-09-26', '2022-07-07', '2022-08-22',
       '2022-08-26', '2022-08-19', '2022-08-25', '2022-08-14',
       '2022-08-08', '2022-09-09', '2022-09-20', '2022-08-09',
       '2022-07-29', '2022-07-27', '2022-09-24', '2022-08-31',
       '2022-07-30', '2022-08-23', '2022-09-02', '2022-09-17',
       '2022-08-27', '2022-08-12', '2022-07-21', '2022-07-15',
       '2022-06-21', '2022-08-13', '2022-06-04', '2022-07-23',
       '2022-08-28', '2022-07-18', '2022-08-06', '2022-07-06',
       '2022-08-17', '2022-09-10', '2022-06-24', '2022-08-04',
       '2022-05-30', '2022-08-30', '2022-02-22', '2022-10-01',
       '2022-06-23', '2022-07-10', '2022-07-12', '2022-08-11'],
      dtype=object)

In [14]:
raw_data['Employment'].unique()

array(['Full-time', 'Other', nan, 'Internship', 'Contract',
       '\n          Full-time\n        ', 'Part-time'], dtype=object)

####
Summary :
- Industry : nan, empty spaces, kategori industri terlalu banyak butuh di simplified
- Salary : nan, non IDR (Butuh dikonversi)
- Location : Pengelompokan lokasi berdasarkan nama city yang tersedia di tableau
- Employment : Nan, Empty Spaces

## Cleaning Data From Empty Spaces

In [15]:
raw_data['Industry'] = raw_data['Industry'].str.replace('\n','')
raw_data

C:\Users\IRONMAM\AppData\Local\Temp\ipykernel_11452\1220860533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data['Industry'] = raw_data['Industry'].str.replace('\n','')

                                             Job Title                                       Company Name                                 Location                         Salary        Date                                           Industry                       Employment
0                                         Data Analyst                                              ASTRO                       Jakarta, Indonesia                            NaN  2022-09-15                             Biotechnology Research                        Full-time
1                                         Data Analyst                                               JULO                       Jakarta, Indonesia                            NaN  2022-09-19                                 Financial Services                        Full-time
2                                         Data Analyst                                              DELOS                       Jakarta, Indonesia                            NaN  2022-09-16                             Biotechnology Research                        Full-time
3                                         Data Analyst                                               Migo              Jakarta, Jakarta, Indonesia                            NaN  2022-09-27                               Software Development                            Other
4                                         Data Analyst                                           Bibit.id   South Jakarta City, Jakarta, Indonesia                            NaN  2022-08-18                                 Financial Services                        Full-time
5                                         Data Analyst                                            Mamikos              Jakarta, Jakarta, Indonesia                            NaN  2022-09-13                      IT Services and IT Consulting                        Full-time
6                                         Data Analyst                   PT Salam Pacific Indonesia Lines           Surabaya, East Java, Indonesia                            NaN  2022-09-27  IT Services and IT Consulting, Transportation,...                        Full-time
7                                         Data Analyst                                          VLink Inc                       Jakarta, Indonesia                            NaN  2022-09-21                      IT Services and IT Consulting                        Full-time
8                                         Data Analyst                                            FIT HUB              Jakarta, Jakarta, Indonesia                            NaN  2022-08-15                      Wellness and Fitness Services                        Full-time
9                                         Data Analyst                                  NoLimit Indonesia               Bandung, Banten, Indonesia                            NaN  2022-09-06                       Online Audio and Video Media                        Full-time
10                                        Data Analyst                                             SehatQ                Jakarta Metropolitan Area                            NaN  2022-09-28                      Wellness and Fitness Services                        Full-time
11                                        Data Analyst                                              NOICE              Jakarta, Jakarta, Indonesia                IDR100 - IDR200  2022-10-06                            Entertainment Providers                        Full-time
12                                        Data Analyst                                  Reku (Rekeningku)              Jakarta, Jakarta, Indonesia                            NaN  2022-09-12                                 Financial Services                        Full-time
13                                        Data Analyst                                              Aruna              Jakarta, Jakarta, Indonesia                            NaN  2022-06-22                                          Fisheries                        Full-time
14                                        Data Analyst                                             Gravel              Jakarta, Jakarta, Indonesia                            NaN  2022-10-03                               Software Development                        Full-time
15                                        Data Analyst                             Somethinc - BeautyHaul              Jakarta, Jakarta, Indonesia                            NaN  2022-08-05                                             Retail                        Full-time
16                                        Data Analyst                                            AgriAku              Jakarta, Jakarta, Indonesia                            NaN  2022-09-05                                            Farming                        Full-time
17                         Data Analyst (Fully Remote)                                          WeNetwork                       Jakarta, Indonesia                            NaN  2022-09-12                            Staffing and Recruiting                        Full-time
18                                        Data Analyst                    Summit Institute of Development   Mataram, West Nusa Tenggara, Indonesia                IDR100 - IDR200  2022-09-16                           Non-profit Organizations                        Full-time
19                                        Data Analyst                                           BintanGO              Jakarta, Jakarta, Indonesia  IDR12,000,000 - IDR20,000,000  2022-09-15                               Software Development                        Full-time
20                                   Data Analyst Lead                                         Blibli.com                       Jakarta, Indonesia                            NaN  2022-10-05               Technology, Information and Internet                        Full-time
21                                Junior Data Engineer                               PT Bank Sinarmas Tbk              Jakarta, Jakarta, Indonesia                            NaN  2022-09-12                                            Banking                        Full-time
22                                        Data Analyst                                           INDOZONE              Jakarta, Jakarta, Indonesia                            NaN  2022-09-12                       Online Audio and Video Media                        Full-time
23                                        Data Analyst                                  Great Giant Foods             Tangerang, Banten, Indonesia                            NaN  2022-09-25                         Food and Beverage Services                        Full-time
24                                        Data Analyst                                         Thinkmatch              Jakarta, Jakarta, Indonesia    IDR7,500,000 - IDR9,000,000  2022-09-01                      IT Services and IT Consulting                        Full-time
25                                        Data Analyst                                  Great Giant Foods              Jakarta, Jakarta, Indonesia                            NaN  2022-05-09                                    Food Production                        Full-time
26                                        Data Analyst                                           Paper.id              Jakarta, Jakarta, Indonesia                            NaN  2022-07-24                      IT Services and IT Consulting                        Full-time
27                                        Data Analyst                          PT Barrans Global Mandiri               Bandung, Banten, Indonesia                            NaN  2022-08-21                      IT Services and IT Consulting                        Full-time
28                                        Data Analyst                          Mediatropy Digital Agency                                Indonesia                            NaN  2022-10-05                                                NaN                              NaN
29                      Business & Data Analyst intern                               Little Joy Indonesia              Jakarta, Jakarta, Indonesia    IDR1,000,000 - IDR1,500,000  2022-09-04                                      Manufacturing                       Internship
31                                        Data Analyst                        PT Berlian Sistem Informasi              Jakarta, Jakarta, Indonesia                            NaN  2022-09-07                      IT Services and IT Consulting                        Full-time
32                                        Data Analyst                           PT Global Urban Esensial  South Tangerang City, Banten, Indonesia                            NaN  2022-08-24                               Software Development                        Full-time
33                                 Senior Data Analyst                                            Moladin              Jakarta, Jakarta, Indonesia                            NaN  2022-09-11                        Motor Vehicle Manufacturing                        Full-time
34                                        Data Analyst                                          Celerates              Jakarta, Jakarta, Indonesia                            NaN  2022-09-12                      IT Services and IT Consulting                        Full-time
35                                        Data Analyst                       PT Macra Teknologi Indonesia              Jakarta, Jakarta, Indonesia                            NaN  2022-10-05                               Software Development                        Full-time
36                   Data Analyst Reporting Specialist                                  Asia Pulp & Paper                       Jakarta, Indonesia                            NaN  2022-09-14             Paper and Forest Product Manufacturing                         Contract
37                                        Data Analyst                                          JALA Tech            Sleman, Yogyakarta, Indonesia                            NaN  2022-09-30                                          Fisheries                        Full-time
39                                        Data Analyst                                          JALA Tech        Yogyakarta, Yogyakarta, Indonesia    IDR3,500,000 - IDR6,000,000  2022-09-29                      IT Services and IT Consulting                        Full-time
40                               Business Data Analyst                        Discover Financial Services                Us, West Papua, Indonesia                            NaN  2022-09-29       Banking, Financial Services, and Hospitality                        Full-time
41                                 Retail Data Analyst                                     Asuransi Astra              Jakarta, Jakarta, Indonesia                            NaN  2022-09-23                                          Insurance                        Full-time
42                             Data Analyst Operations                                           FinAccel              Jakarta, Jakarta, Indonesia                            NaN  2022-10-05                                 Financial Services                        Full-time
43                              Data Analyst, Surabaya                                               Grab           Surabaya, West Java, Indonesia                            NaN  2022-09-29               Technology, Information and Internet                        Full-time
44                                        Data Analyst                                         Tiara Hana              Bogor, West Java, Indonesia                            NaN  2022-10-04                                                NaN                              NaN
45                                        Data Analyst          PT Kreatifitas Sinergisme Teknoindo (KST)              Jakarta, Jakarta, Indonesia                            NaN  2022-09-21                      IT Services and IT Consulting                        Full-time
46                                        Data Analyst                     Indocyber Global Teknologi, PT              Jakarta, Jakarta, Indonesia                            NaN  2022-09-13                      IT Services and IT Consulting                         Contract
47                                        Data Analyst                                              Luxen              Jakarta, Jakarta, Indonesia                            NaN  2022-08-29                                             Retail                        Full-time
48                                        Data Analyst                               Valbury Asia Futures              Jakarta, Jakarta, Indonesia    IDR5,000,000 - IDR6,000,000  2022-08-16                                 Financial Services                        Full-time
49                                        Data Analyst                                Power Commerce Asia              Jakarta, Jakarta, Indonesia                            NaN  2022-09-14                      IT Services and IT Consulting                        Full-time
50                Business Intelligence (Data Analyst)                                   Youtap Indonesia              Jakarta, Jakarta, Indonesia  IDR10,000,000 - IDR15,000,000  2022-09-08                                 Financial Services                        Full-time
52                              Marketing Data Analyst                                           DKATALIS              Jakarta, Jakarta, Indonesia                            NaN  2022-09-12                      IT Services and IT Consulting                        Full-time
53                        Data Analyst (Amaan Project)                                           DKATALIS              Jakarta, Jakarta, Indonesia                            NaN  2022-09-16                      IT Services and IT Consulting                        Full-time
54                                        Data Analyst             Clove Research and Marketing Analytics                       Jakarta, Indonesia                            NaN  2022-10-07                                                NaN                              NaN
55                                        Data Analyst                                 ATI Business Group              Jakarta, Jakarta, Indonesia                            NaN  2022-09-06                                Travel Arrangements                        Full-time
56                               Data Analyst KG Media                                    KOMPAS GRAMEDIA         West Jakarta, Jakarta, Indonesia                            NaN  2022-07-11                                   Media Production                        Full-time
58                                        Data Analyst                                        Alamii Food              Jakarta, Jakarta, Indonesia    IDR5,500,000 - IDR7,200,000  2022-08-10                                      Manufacturing                        Full-time
59                            Data Analyst (Full Time)                                             Lumina             Tangerang, Banten, Indonesia                            NaN  2022-09-18                                                NaN                        Full-time
60                             Data Analyst Consultant                Nomura Research Institute Indonesia                       Jakarta, Indonesia                            NaN  2022-09-08                      IT Services and IT Consulting                        Full-time
61                      Data Analyst Digital Marketing                              DIGIMARKA Corporation            Bantul, Yogyakarta, Indonesia                            NaN  2022-09-22  Advertising Services and Public Relations and ...                        Full-time
63                                        Data Analyst                                          KoinWorks              Jakarta, Jakarta, Indonesia                            NaN  2022-08-24                      IT Services and IT Consulting                        Full-time
64   Data Analyst - Corporate Data, Engineering and...                                             Shopee                       Jakarta, Indonesia                            NaN  2022-10-02                               Software Development                        Full-time
65                             Data Analyst-User Trust                                         BukuWarung              Jakarta, Jakarta, Indonesia                            NaN  2022-06-27                               Software Development                        Full-time
66                                        Data Analyst                                 Kece Entertainment              Jakarta, Jakarta, Indonesia                            NaN  2022-09-26  Advertising Services and Public Relations and ...                        Full-time
67     Data Analyst - Universitas Multimedia Nusantara                                    KOMPAS GRAMEDIA             Tangerang, Banten, Indonesia                            NaN  2022-09-27                                   Media Production                        Full-time
68                                        Data Analyst                      PT Code Development Indonesia              Jakarta, Jakarta, Indonesia                            NaN  2022-07-07                               Software Development                        Full-time
69                                        Data Analyst                                                KST              Jakarta, Jakarta, Indonesia                            NaN  2022-09-05                                                NaN                        Full-time
71                                        Data Analyst                             Horangi Cyber Security                       Jakarta, Indonesia                            NaN  2022-09-14  Computer and Network Security and Technology, ...                        Full-time
73                                        Data Analyst                                            Onstock              Jakarta, Jakarta, Indonesia   IDR8,000,000 - IDR10,000,000  2022-08-15                      IT Services and IT Consulting                        Full-time
74                                        Data Analyst                                     Lionel Express             Tangerang, Banten, Indonesia                            NaN  2022-09-01                 Freight and Package Transportation                        Full-time
75             Associate Business Intelligence Analyst                                          tiket.com              Jakarta, Jakarta, Indonesia                            NaN  2022-08-22                               Software Development                        Full-time
77                                        Data Analyst                                            Hon&yan              Jakarta, Jakarta, Indonesia    IDR4,500,000 - IDR5,000,000  2022-09-28                                             Retail                        Full-time
78                                   Data Analyst Risk                                           FinAccel                       Jakarta, Indonesia                            NaN  2022-09-15                                             Retail                        Full-time

In [16]:
raw_data_copy = raw_data.sort_values('Industry')

In [17]:
raw_data_copy['Industry'] = raw_data_copy['Industry'].str.strip()

In [18]:
raw_data_copy['Industry'] = raw_data_copy['Industry'].str.replace('\t','',regex = True)

In [19]:
raw_data_copy['Industry'].fillna('Not Displayed', inplace = True)

In [20]:
raw_data_copy.sort_values('Industry', inplace = True)

In [21]:
raw_data_copy['Industry'].unique()

array(['Advertising Services',
       'Advertising Services and Public Relations and Communications Services',
       'Banking', 'Banking and Financial Services',
       'Banking, Financial Services, and Hospitality',
       'Banking, Insurance, and Business Consulting and Services',
       'Biotechnology Research', 'Business Consulting and Services',
       'Computer Hardware Manufacturing',
       'Computer Hardware Manufacturing, Software Development, and Computer Networking Products',
       'Computer and Network Security',
       'Computer and Network Security and Technology, Information and Internet',
       'Consumer Services',
       'Design Services, Manufacturing, and Entertainment Providers',
       'Education Administration Programs', 'Education Management',
       'Entertainment Providers', 'Environmental Services', 'Farming',
       'Financial Services', 'Fisheries', 'Food Production',
       'Food and Beverage Manufacturing', 'Food and Beverage Services',
       'Food and Beverage Services and Food and Beverage Manufacturing',
       'Food and Beverage Services, Chemical Manufacturing, and Food and Beverage Manufacturing',
       'Freight and Package Transportation', 'Fundraising',
       'Hospitals and Health Care', 'Human Resources Services',
       'IT Services and IT Consulting',
       'IT Services and IT Consulting and Financial Services',
       'IT Services and IT Consulting and Insurance',
       'IT Services and IT Consulting and Retail',
       'IT Services and IT Consulting and Software Development',
       'IT Services and IT Consulting, Banking, and Financial Services',
       'IT Services and IT Consulting, Software Development, and Business Consulting and Services',
       'IT Services and IT Consulting, Telecommunications, and Biotechnology Research',
       'IT Services and IT Consulting, Transportation, Logistics, Supply Chain and Storage, and Truck Transportation',
       'IT Services and IT Consulting, Truck Transportation, and Airlines and Aviation',
       'Information Services', 'Insurance', 'Manufacturing',
       'Manufacturing and Paper and Forest Product Manufacturing',
       'Manufacturing, Financial Services, and Paper and Forest Product Manufacturing',
       'Market Research, Research Services, and Truck Transportation',
       'Media Production', 'Medical Practices',
       'Motor Vehicle Manufacturing', 'Non-profit Organizations',
       'Not Displayed', 'Oil and Gas', 'Online Audio and Video Media',
       'Online Audio and Video Media, Technology, Information and Internet, and Entertainment Providers',
       'Paper and Forest Product Manufacturing',
       'Personal Care Product Manufacturing, Manufacturing, and Retail',
       'Pharmaceutical Manufacturing', 'Primary and Secondary Education',
       'Professional Training and Coaching', 'Real Estate',
       'Research Services and Telecommunications', 'Retail',
       'Software Development', 'Staffing and Recruiting',
       'Technology, Information and Internet', 'Telecommunications',
       'Textile Manufacturing', 'Tobacco Manufacturing and Manufacturing',
       'Transportation, Logistics, Supply Chain and Storage',
       'Travel Arrangements', 'Truck Transportation',
       'Venture Capital and Private Equity Principals',
       'Wellness and Fitness Services'], dtype=object)

## Manipulating & Preprocessing Data Industry

In [22]:
category_old = ['Business Consulting and Services',
                'Technology, Information and Internet',
                'Food and Beverage Services',
                'Food and Beverage Manufacturing',
                'Paper and Forest Product Manufacturing',
                'Online Audio and Video Media',
                'Primary and Secondary Education',
                'Professional Training and Coaching',
                'Staffing and Recruiting',
                'Transportation, Logistics, Supply Chain and Storage',
                'Venture Capital and Private Equity Principals',
                'Wellness and Fitness Services',
                'IT Services and IT Consulting',
                'Computer and Network Security',
                'Hospitals and Health Care',
                'Oil and Gas',
                'Airlines and Aviation',
                'Not Displayed']
category_new = ['Business Consulting & Services',
                'Technology| Information & Internet',
                'Food & Beverage Services',
                'Food & Beverage Manufacturing',
                'Paper & Forest Product Manufacturing',
                'Online Audio & Video Media',
                'Primary & Secondary Education',
                'Professional Training & Coaching',
                'Staffing & Recruiting',
                'Transportation| Logistics| Supply Chain & Storage',
                'Venture Capital & Private Equity Principals',
                'Wellness & Fitness Services',
                'IT Services & IT Consulting',
                'Computer & Network Security',
                'Hospitals & Health Care',
                'Oil & Gas', 
                'Airlines & Aviation',
                'Not Displayed']

In [28]:
for i in range(18):
    raw_data_copy['Industry'] = raw_data_copy['Industry'].str.replace(category_old[i],category_new[i])
raw_data_copy['Industry'].unique()

array(['Advertising Services',
       'Advertising Services and Public Relations and Communications Services',
       'Banking', 'Banking and Financial Services',
       'Banking, Financial Services, and Hospitality',
       'Banking, Insurance, and Business Consulting & Services',
       'Biotechnology Research', 'Business Consulting & Services',
       'Computer Hardware Manufacturing',
       'Computer Hardware Manufacturing, Software Development, and Computer Networking Products',
       'Computer & Network Security',
       'Computer & Network Security and Technology| Information & Internet',
       'Consumer Services',
       'Design Services, Manufacturing, and Entertainment Providers',
       'Education Administration Programs', 'Education Management',
       'Entertainment Providers', 'Environmental Services', 'Farming',
       'Financial Services', 'Fisheries', 'Food Production',
       'Food & Beverage Manufacturing', 'Food & Beverage Services',
       'Food & Beverage Services and Food & Beverage Manufacturing',
       'Food & Beverage Services, Chemical Manufacturing, and Food & Beverage Manufacturing',
       'Freight and Package Transportation', 'Fundraising',
       'Hospitals & Health Care', 'Human Resources Services',
       'IT Services & IT Consulting',
       'IT Services & IT Consulting and Financial Services',
       'IT Services & IT Consulting and Insurance',
       'IT Services & IT Consulting and Retail',
       'IT Services & IT Consulting and Software Development',
       'IT Services & IT Consulting, Banking, and Financial Services',
       'IT Services & IT Consulting, Software Development, and Business Consulting & Services',
       'IT Services & IT Consulting, Telecommunications, and Biotechnology Research',
       'IT Services & IT Consulting, Transportation| Logistics| Supply Chain & Storage, and Truck Transportation',
       'IT Services & IT Consulting, Truck Transportation, and Airlines & Aviation',
       'Information Services', 'Insurance', 'Manufacturing',
       'Manufacturing and Paper & Forest Product Manufacturing',
       'Manufacturing, Financial Services, and Paper & Forest Product Manufacturing',
       'Market Research, Research Services, and Truck Transportation',
       'Media Production', 'Medical Practices',
       'Motor Vehicle Manufacturing', 'Non-profit Organizations',
       'Not Displayed', 'Oil & Gas', 'Online Audio & Video Media',
       'Online Audio & Video Media, Technology| Information & Internet, and Entertainment Providers',
       'Paper & Forest Product Manufacturing',
       'Personal Care Product Manufacturing, Manufacturing, and Retail',
       'Pharmaceutical Manufacturing', 'Primary & Secondary Education',
       'Professional Training & Coaching', 'Real Estate',
       'Research Services and Telecommunications', 'Retail',
       'Software Development', 'Staffing & Recruiting',
       'Technology| Information & Internet', 'Telecommunications',
       'Textile Manufacturing', 'Tobacco Manufacturing and Manufacturing',
       'Transportation| Logistics| Supply Chain & Storage',
       'Travel Arrangements', 'Truck Transportation',
       'Venture Capital & Private Equity Principals',
       'Wellness & Fitness Services'], dtype=object)

In [29]:
list_cat =['Cat1',
          'Cat2',
          'Cat3',
          'Cat4']
raw_data_copy[list_cat] = raw_data_copy['Industry'].str.split(',|and',regex = True, expand = True)

In [30]:
raw_data_copy.drop(['Industry'], axis = 1, inplace = True)

In [31]:
column = ['Job Title', 'Company Name', 'Location', 'Salary', 'Date', 'Employment']

In [32]:
raw_data_copy = pd.melt(raw_data_copy, id_vars=column, value_vars=list_cat , value_name= 'Industry Category')
raw_data_copy.drop(['variable'], axis = 1 , inplace= True)

In [33]:
raw_data_copy['Industry Category'] = raw_data_copy['Industry Category'].str.replace('|',',')
raw_data_copy['Industry Category'] = raw_data_copy['Industry Category'].str.replace('&','and')

C:\Users\IRONMAM\AppData\Local\Temp\ipykernel_11452\3875921063.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  raw_data_copy['Industry Category'] = raw_data_copy['Industry Category'].str.replace('|',',')

In [34]:
raw_data_copy['Industry Category'].dropna(axis = 0, inplace = True)

In [35]:
raw_data_copy['Industry Category'] = raw_data_copy['Industry Category'].str.strip()

In [36]:
index_empty = raw_data_copy['Industry Category'][raw_data_copy['Industry Category'] == ''].index
raw_data_copy.drop(index_empty)

                                        Job Title                            Company Name                           Location                         Salary        Date Employment     Industry Category
0              Data Scientist (remote, freelance)                            Hire Digital                          Indonesia                            NaN  2022-09-04  Part-time  Advertising Services
1                                    Data Analyst                PT. Tiara Hana Indonesia        Bogor, West Java, Indonesia                            NaN  2022-10-05  Full-time  Advertising Services
2                                    Data Analyst                      Kece Entertainment        Jakarta, Jakarta, Indonesia                            NaN  2022-09-26  Full-time  Advertising Services
3                                    Data Analyst             PT. Sigma Digital Nusantara  Yogyakarta, Yogyakarta, Indonesia                            NaN  2022-09-29  Full-time  Advertising Services
4                  Data Analyst Digital Marketing                   DIGIMARKA Corporation      Bantul, Yogyakarta, Indonesia                            NaN  2022-09-22  Full-time  Advertising Services
...                                           ...                                     ...                                ...                            ...         ...        ...                   ...
1719                             IT Data Engineer                 PT I Like Gym Indonesia        Jakarta, Jakarta, Indonesia  IDR10,000,000 - IDR13,000,100  2022-09-08  Full-time                  None
1720                                 Data Analyst  PT Hadir Mengharumkan Nusantara (HMNS)        Jakarta, Jakarta, Indonesia                            NaN  2022-09-01  Full-time                  None
1721                                 Data Analyst                                  SehatQ          Jakarta Metropolitan Area                            NaN  2022-09-28  Full-time                  None
1722  Business Intelligence Analyst (Head Office)       Millenium Pharmacon International        Jakarta, Jakarta, Indonesia                            NaN  2022-09-28  Full-time                  None
1723                                 Data Analyst                                 FIT HUB        Jakarta, Jakarta, Indonesia                            NaN  2022-08-15  Full-time                  None

[1707 rows x 7 columns]

In [37]:
raw_data_copy['Industry Category'] = raw_data_copy['Industry Category'].drop(raw_data_copy[raw_data_copy['Industry Category'] == ''].index)

In [38]:
raw_data_copy['Industry Category'].dropna(inplace=True)

In [39]:
len(raw_data_copy)

1724

### Salary Column

In [40]:
base_url = "http://api.exchangeratesapi.io/v1/latest?access_key=957d35af507526e6992ac823decaa7ce&format=1"
response = requests.get(base_url)
rate = response.json()
rate

{'success': True,
 'timestamp': 1668938763,
 'base': 'EUR',
 'date': '2022-11-20',
 'rates': {'AED': 3.799944,
  'AFN': 91.040756,
  'ALL': 117.163172,
  'AMD': 408.829923,
  'ANG': 1.862986,
  'AOA': 528.802379,
  'ARS': 168.469953,
  'AUD': 1.549911,
  'AWG': 1.862189,
  'AZN': 1.762842,
  'BAM': 1.950343,
  'BBD': 2.087169,
  'BDT': 106.527118,
  'BGN': 1.960269,
  'BHD': 0.389326,
  'BIF': 2123.930561,
  'BMD': 1.03455,
  'BND': 1.419149,
  'BOB': 7.143044,
  'BRL': 5.568779,
  'BSD': 1.033722,
  'BTC': 6.2286774e-05,
  'BTN': 84.429233,
  'BWP': 13.390484,
  'BYN': 2.610756,
  'BYR': 20277.174379,
  'BZD': 2.083679,
  'CAD': 1.38728,
  'CDF': 2114.619988,
  'CHF': 0.987776,
  'CLF': 0.035311,
  'CLP': 974.342967,
  'CNY': 7.365895,
  'COP': 5161.192646,
  'CRC': 631.116809,
  'CUC': 1.03455,
  'CUP': 27.415567,
  'CVE': 110.542045,
  'CZK': 24.399897,
  'DJF': 183.860582,
  'DKK': 7.453418,
  'DOP': 56.38698,
  'DZD': 143.858318,
  'EGP': 25.412693,
  'ERN': 15.518246,
  'ETB': 54.800504,
  'EUR': 1,
  'FJD': 2.307822,
  'FKP': 0.869885,
  'GBP': 0.87021,
  'GEL': 2.81438,
  'GGP': 0.869885,
  'GHS': 15.004963,
  'GIP': 0.869885,
  'GMD': 63.628794,
  'GNF': 9078.174101,
  'GTQ': 8.071312,
  'GYD': 216.271607,
  'HKD': 8.092197,
  'HNL': 25.708962,
  'HRK': 7.526664,
  'HTG': 142.655454,
  'HUF': 407.344005,
  'IDR': 16181.805885,
  'ILS': 3.586374,
  'IMP': 0.869885,
  'INR': 84.336648,
  'IQD': 1510.442581,
  'IRR': 43864.908206,
  'ISK': 149.203159,
  'JEP': 0.869885,
  'JMD': 158.930984,
  'JOD': 0.733537,
  'JPY': 145.19392,
  'KES': 126.370646,
  'KGS': 87.360796,
  'KHR': 4283.036176,
  'KMF': 492.966866,
  'KPW': 931.094758,
  'KRW': 1386.328049,
  'KWD': 0.318439,
  'KYD': 0.861406,
  'KZT': 477.536644,
  'LAK': 19087.44257,
  'LBP': 850.921049,
  'LKR': 379.902152,
  'LRD': 159.321016,
  'LSL': 17.970523,
  'LTL': 3.054757,
  'LVL': 0.625789,
  'LYD': 5.064161,
  'MAD': 11.084687,
  'MDL': 19.821727,
  'MGA': 4466.151471,
  'MKD': 61.442157,
  'MMK': 2170.868783,
  'MNT': 3531.932512,
  'MOP': 8.328652,
  'MRO': 369.33407,
  'MUR': 45.148141,
  'MVR': 15.947624,
  'MWK': 1059.379263,
  'MXN': 20.112168,
  'MYR': 4.711137,
  'MZN': 66.035699,
  'NAD': 17.970519,
  'NGN': 457.954166,
  'NIO': 37.244145,
  'NOK': 10.545321,
  'NPR': 135.088553,
  'NZD': 1.681511,
  'OMR': 0.397771,
  'PAB': 1.033712,
  'PEN': 3.940342,
  'PGK': 3.642003,
  'PHP': 59.183525,
  'PKR': 230.135971,
  'PLN': 4.708909,
  'PYG': 7412.491256,
  'QAR': 3.766282,
  'RON': 4.951395,
  'RSD': 117.324967,
  'RUB': 62.952736,
  'RWF': 1091.449947,
  'SAR': 3.888387,
  'SBD': 8.514957,
  'SCR': 14.975164,
  'SDG': 589.179867,
  'SEK': 11.003889,
  'SGD': 1.423648,
  'SHP': 1.424993,
  'SLE': 18.715028,
  'SLL': 18647.758931,
  'SOS': 588.145303,
  'SRD': 31.699125,
  'STD': 21413.090316,
  'SVC': 9.044557,
  'SYP': 2599.335184,
  'SZL': 17.970511,
  'THB': 37.047607,
  'TJS': 10.551318,
  'TMT': 3.631269,
  'TND': 3.273837,
  'TOP': 2.454314,
  'TRY': 19.264665,
  'TTD': 7.016597,
  'TWD': 32.201709,
  'TZS': 2412.570278,
  'UAH': 38.177756,
  'UGX': 3860.938812,
  'USD': 1.03455,
  'UYU': 41.131492,
  'UZS': 11607.648128,
  'VEF': 1011298.255752,
  'VND': 25664.592011,
  'VUV': 122.823057,
  'WST': 2.881746,
  'XAF': 654.13267,
  'XAG': 0.049449,
  'XAU': 0.000591,
  'XCD': 2.795923,
  'XDR': 0.7888,
  'XOF': 663.667363,
  'XPF': 119.646051,
  'YER': 258.921968,
  'ZAR': 17.856711,
  'ZMK': 9312.192591,
  'ZMW': 17.22742,
  'ZWL': 333.124586}}

In [41]:
MYRtoEUR = 1/rate['rates']['MYR']
EURtoIDR = rate['rates']['IDR']
MYRtoIDR = MYRtoEUR * EURtoIDR

In [42]:
MYRtoIDR

3434.798411720992

In [43]:
# raw_data_copy.fillna('Not Displayed', inplace = True)

In [44]:
# raw_data_copy[raw_data_copy['Salary'].str.startswith('MYR')].index

In [45]:
# raw_data_copy['Salary'][raw_data_copy[raw_data_copy['Salary'].str.startswith('MYR')].index]

In [46]:
salary = raw_data_copy['Salary'].str.split('-',expand =True)
salary

                   0               1
0                NaN             NaN
1                NaN             NaN
2                NaN             NaN
3                NaN             NaN
4                NaN             NaN
...              ...             ...
1719  IDR10,000,000    IDR13,000,100
1720             NaN             NaN
1721             NaN             NaN
1722             NaN             NaN
1723             NaN             NaN

[1724 rows x 2 columns]

In [47]:
salary.fillna('Not Displayed',inplace = True)

In [48]:
salary_MYR_index = salary[salary[0].str.startswith('MYR')].index

In [49]:
salary[~salary[0].str.contains('Not Displayed')].replace('[^0-9\.-]','',regex=True)

             0         1
8      8000000  10000000
18     6000000  10000000
20     6000000  10000000
30    20000000  30000000
33     4650000   5100000
34         100       200
37         100       200
57     3000000   3500000
58     5000000   6000000
60    10000000  15000000
91     1200000   1500000
93         100       200
102        100       200
103    5500000  10000000
106    8000000  10000000
115   13000000  18000000
117        100       200
118   16000000  19000000
120    9000000  12000000
122   10000000  17000000
123        100       200
125    6000000   8000000
138    3500000   6000000
147    5500000   7000000
149        100       200
156   13000000  18000000
157    7000000  10000000
158        100       200
159        100       200
161   10000000  17000000
165        100       200
166    5000000   8000000
167    8000000  10000000
169    7500000   9000000
171    8000000  12000000
176    9000000  14000000
178        100  25000000
181   10000000  13000000
182        100       200
184    7000000   9000000
185    8000000  20000000
189   10000000  15000000
194   10000000  15000000
196    5000000   8000000
197    5750000  10250000
198    1000000   1100000
200        100       200
221    5500000   7200000
222    1000000   1500000
229        100       200
234        100       200
237    2000000   2000000
240   12000000  18000000
242    6000000   9000000
247    6000000  10000000
250    8000000  10000000
252    5250000   6000000
258        100       200
261    9000000  12000000
265    6000000   8000000
273        100       200
275        100       200
279    9000000  13000000
293     500000   1000000
302    4500000   5000000
306        100       200
319        100       200
321   12000000  20000000
324        100       200
326        100       200
334    6000000  12000000
338        100       200
346        100       200
347       5000     10000
402    5500000   6500000
405    5000000   7000000
409    1500000   1500100
410    6000000  10000000
426   10000000  13000100
439    8000000  10000000
449    6000000  10000000
451    6000000  10000000
461   20000000  30000000
464    4650000   5100000
465        100       200
468        100       200
488    3000000   3500000
489    5000000   6000000
491   10000000  15000000
522    1200000   1500000
524        100       200
533        100       200
534    5500000  10000000
537    8000000  10000000
546   13000000  18000000
548        100       200
549   16000000  19000000
551    9000000  12000000
553   10000000  17000000
554        100       200
556    6000000   8000000
569    3500000   6000000
578    5500000   7000000
580        100       200
587   13000000  18000000
588    7000000  10000000
589        100       200
590        100       200
592   10000000  17000000
596        100       200
597    5000000   8000000
598    8000000  10000000
600    7500000   9000000
602    8000000  12000000
607    9000000  14000000
609        100  25000000
612   10000000  13000000
613        100       200
615    7000000   9000000
616    8000000  20000000
620   10000000  15000000
625   10000000  15000000
627    5000000   8000000
628    5750000  10250000
629    1000000   1100000
631        100       200
652    5500000   7200000
653    1000000   1500000
660        100       200
665        100       200
668    2000000   2000000
671   12000000  18000000
673    6000000   9000000
678    6000000  10000000
681    8000000  10000000
683    5250000   6000000
689        100       200
692    9000000  12000000
696    6000000   8000000
704        100       200
706        100       200
710    9000000  13000000
724     500000   1000000
733    4500000   5000000
737        100       200
750        100       200
752   12000000  20000000
755        100       200
757        100       200
765    6000000  12000000
769        100       200
777        100       200
778       5000     10000
833    5500000   6500000
836    5000000   7000000
840    1500000   1500100
841    6000000  10000000
857   10000000  13000100
870    8000000  10000000
880    6000000  10000000
882    6000000  10000000
892   20000000  30000000
895    4650000   5100000
896        100       200
899        100       200
919    3000000   3500000
920    5000000   6000000
922   10000000  15000000
953    1200000   1500000
955        100       200
964        100       200
965    5500000  10000000
968    8000000  10000000
977   13000000  18000000
979        100       200
980   16000000  19000000
982    9000000  12000000
984   10000000  17000000
985        100       200
987    6000000   8000000
1000   3500000   6000000
1009   5500000   7000000
1011       100       200
1018  13000000  18000000
1019   7000000  10000000
1020       100       200
1021       100       200
1023  10000000  17000000
1027       100       200
1028   5000000   8000000
1029   8000000  10000000
1031   7500000   9000000
1033   8000000  12000000
1038   9000000  14000000
1040       100  25000000
1043  10000000  13000000
1044       100       200
1046   7000000   9000000
1047   8000000  20000000
1051  10000000  15000000
1056  10000000  15000000
1058   5000000   8000000
1059   5750000  10250000
1060   1000000   1100000
1062       100       200
1083   5500000   7200000
1084   1000000   1500000
1091       100       200
1096       100       200
1099   2000000   2000000
1102  12000000  18000000
1104   6000000   9000000
1109   6000000  10000000
1112   8000000  10000000
1114   5250000   6000000
1120       100       200
1123   9000000  12000000
1127   6000000   8000000
1135       100       200
1137       100       200
1141   9000000  13000000
1155    500000   1000000
1164   4500000   5000000
1168       100       200
1181       100       200
1183  12000000  20000000
1186       100       200
1188       100       200
1196   6000000  12000000
1200       100       200
1208       100       200
1209      5000     10000
1264   5500000   6500000
1267   5000000   7000000
1271   1500000   1500100
1272   6000000  10000000
1288  10000000  13000100
1301   8000000  10000000
1311   6000000  10000000
1313   6000000  10000000
1323  20000000  30000000
1326   4650000   5100000
1327       100       200
1330       100       200
1350   3000000   3500000
1351   5000000   6000000
1353  10000000  15000000
1384   1200000   1500000
1386       100       200
1395       100       200
1396   5500000  10000000
1399   8000000  10000000
1408  13000000  18000000
1410       100       200
1411  16000000  19000000
1413   9000000  12000000
1415  10000000  17000000
1416       100       200
1418   6000000   8000000
1431   3500000   6000000
1440   5500000   7000000
1442       100       200
1449  13000000  18000000
1450   7000000  10000000
1451       100       200
1452       100       200
1454  10000000  17000000
1458       100       200
1459   5000000   8000000
1460   8000000  10000000
1462   7500000   9000000
1464   8000000  12000000
1469   9000000  14000000
1471       100  25000000
1474  10000000  13000000
1475       100       200
1477   7000000   9000000
1478   8000000  20000000
1482  10000000  15000000
1487  10000000  15000000
1489   5000000   8000000
1490   5750000  10250000
1491   1000000   1100000
1493       100       200
1514   5500000   7200000
1515   1000000   1500000
1522       100       200
1527       100       200
1530   2000000   2000000
1533  12000000  18000000
1535   6000000   9000000
1540   6000000  10000000
1543   8000000  10000000
1545   5250000   6000000
1551       100       200
1554   9000000  12000000
1558   6000000   8000000
1566       100       200
1568       100       200
1572   9000000  13000000
1586    500000   1000000
1595   4500000   5000000
1599       100       200
1612       100       200
1614  12000000  20000000
1617       100       200
1619       100       200
1627   6000000  12000000
1631       100       200
1639       100       200
1640      5000     10000
1695   5500000   6500000
1698   5000000   7000000
1702   1500000   1500100
1703   6000000  10000000
1719  10000000  13000100

In [50]:
salary.loc[salary[~salary[0].str.contains('Not Displayed')].replace('[^0-9\.-]','',regex=True).index] = salary[~salary[0].str.contains('Not Displayed')].replace('[^0-9\.-]','',regex=True)
salary

                  0              1
0     Not Displayed  Not Displayed
1     Not Displayed  Not Displayed
2     Not Displayed  Not Displayed
3     Not Displayed  Not Displayed
4     Not Displayed  Not Displayed
...             ...            ...
1719       10000000       13000100
1720  Not Displayed  Not Displayed
1721  Not Displayed  Not Displayed
1722  Not Displayed  Not Displayed
1723  Not Displayed  Not Displayed

[1724 rows x 2 columns]

In [51]:
salary.loc[salary_MYR_index] = salary.loc[salary_MYR_index].astype(int) * MYRtoIDR

In [52]:
salary.loc[salary_MYR_index]

                    0               1
347   17173992.058605  34347984.11721
778   17173992.058605  34347984.11721
1209  17173992.058605  34347984.11721
1640  17173992.058605  34347984.11721

In [53]:
raw_data_copy['Initial Salary'] = salary[0]
raw_data_copy['Maximum Salary'] = salary[1]

In [54]:
raw_data_copy.drop(['Salary'], axis = 1, inplace = True)
raw_data_copy

                                        Job Title                            Company Name                           Location        Date Employment     Industry Category Initial Salary Maximum Salary
0              Data Scientist (remote, freelance)                            Hire Digital                          Indonesia  2022-09-04  Part-time  Advertising Services  Not Displayed  Not Displayed
1                                    Data Analyst                PT. Tiara Hana Indonesia        Bogor, West Java, Indonesia  2022-10-05  Full-time  Advertising Services  Not Displayed  Not Displayed
2                                    Data Analyst                      Kece Entertainment        Jakarta, Jakarta, Indonesia  2022-09-26  Full-time  Advertising Services  Not Displayed  Not Displayed
3                                    Data Analyst             PT. Sigma Digital Nusantara  Yogyakarta, Yogyakarta, Indonesia  2022-09-29  Full-time  Advertising Services  Not Displayed  Not Displayed
4                  Data Analyst Digital Marketing                   DIGIMARKA Corporation      Bantul, Yogyakarta, Indonesia  2022-09-22  Full-time  Advertising Services  Not Displayed  Not Displayed
...                                           ...                                     ...                                ...         ...        ...                   ...            ...            ...
1719                             IT Data Engineer                 PT I Like Gym Indonesia        Jakarta, Jakarta, Indonesia  2022-09-08  Full-time                  None       10000000       13000100
1720                                 Data Analyst  PT Hadir Mengharumkan Nusantara (HMNS)        Jakarta, Jakarta, Indonesia  2022-09-01  Full-time                  None  Not Displayed  Not Displayed
1721                                 Data Analyst                                  SehatQ          Jakarta Metropolitan Area  2022-09-28  Full-time                  None  Not Displayed  Not Displayed
1722  Business Intelligence Analyst (Head Office)       Millenium Pharmacon International        Jakarta, Jakarta, Indonesia  2022-09-28  Full-time                  None  Not Displayed  Not Displayed
1723                                 Data Analyst                                 FIT HUB        Jakarta, Jakarta, Indonesia  2022-08-15  Full-time                  None  Not Displayed  Not Displayed

[1724 rows x 8 columns]

## Employment

In [55]:
raw_data_copy['Employment'] = raw_data_copy['Employment'].str.replace('\s', '', regex = True)
raw_data_copy['Employment'].unique()

array(['Part-time', 'Full-time', 'Internship', 'Contract', nan, 'Other'],
      dtype=object)

In [56]:
raw_data_copy['Employment'].fillna('Not Displayed', inplace = True)

In [57]:
raw_data_copy['Employment'].unique()

array(['Part-time', 'Full-time', 'Internship', 'Contract',
       'Not Displayed', 'Other'], dtype=object)

# Location

In [58]:
new_Location = raw_data_copy['Location'].str.split(',', n = 1, expand = True)
new_Location

                              0                       1
0                     Indonesia                    None
1                         Bogor    West Java, Indonesia
2                       Jakarta      Jakarta, Indonesia
3                    Yogyakarta   Yogyakarta, Indonesia
4                        Bantul   Yogyakarta, Indonesia
...                         ...                     ...
1719                    Jakarta      Jakarta, Indonesia
1720                    Jakarta      Jakarta, Indonesia
1721  Jakarta Metropolitan Area                    None
1722                    Jakarta      Jakarta, Indonesia
1723                    Jakarta      Jakarta, Indonesia

[1724 rows x 2 columns]

In [59]:
# new_Location[0].unique()
# - Us(Kabupaten) change to Fakfak
# - South Jakarta City, west Jakarta, Central Jakarta, Jakarta Metropolitan Area to Jakarta
# - Bandung (Jawa Timur) to Tulungagung
# - Yosowilangun to Lumajang
# - Bali to Badung ()

In [60]:
new_Location[1].fillna('Not Displayed',inplace = True)
# Bandung, East Java to Tulungagung
# Bandung, Banten to Soreang

In [61]:
new_Location[0][new_Location[0].str.contains('Bali')] = 'Badung'

In [62]:
new_Location[0][new_Location[0].str.contains('Bandung')][new_Location[1].str.contains('East Java')] = 'Tulungagung'
new_Location[0][new_Location[0].str.contains('Bandung')][new_Location[1].str.contains('Banten')] = 'Serang'
new_Location[0][new_Location[0].str.contains('Us')] = 'Fakfak'
new_Location[0][new_Location[0].str.contains('Jakarta')] = 'Jakarta'
new_Location[0][new_Location[0].str.contains('Tangerang')] = 'Tangerang'
new_Location[0][new_Location[0].str.contains('Yosowilangun')] = 'Lumajang'

In [63]:
new_Location[1].unique()

array(['Not Displayed', ' West Java, Indonesia', ' Jakarta, Indonesia',
       ' Yogyakarta, Indonesia', ' Central Java, Indonesia',
       ' West Papua, Indonesia', ' Indonesia', ' Banten, Indonesia',
       ' West Kalimantan, Indonesia', ' East Java, Indonesia',
       ' West Nusa Tenggara, Indonesia'], dtype=object)

In [64]:
raw_data_copy['Location'] = new_Location[0]

In [65]:
raw_data_copy

                                        Job Title                            Company Name    Location        Date Employment     Industry Category Initial Salary Maximum Salary
0              Data Scientist (remote, freelance)                            Hire Digital   Indonesia  2022-09-04  Part-time  Advertising Services  Not Displayed  Not Displayed
1                                    Data Analyst                PT. Tiara Hana Indonesia       Bogor  2022-10-05  Full-time  Advertising Services  Not Displayed  Not Displayed
2                                    Data Analyst                      Kece Entertainment     Jakarta  2022-09-26  Full-time  Advertising Services  Not Displayed  Not Displayed
3                                    Data Analyst             PT. Sigma Digital Nusantara  Yogyakarta  2022-09-29  Full-time  Advertising Services  Not Displayed  Not Displayed
4                  Data Analyst Digital Marketing                   DIGIMARKA Corporation      Bantul  2022-09-22  Full-time  Advertising Services  Not Displayed  Not Displayed
...                                           ...                                     ...         ...         ...        ...                   ...            ...            ...
1719                             IT Data Engineer                 PT I Like Gym Indonesia     Jakarta  2022-09-08  Full-time                  None       10000000       13000100
1720                                 Data Analyst  PT Hadir Mengharumkan Nusantara (HMNS)     Jakarta  2022-09-01  Full-time                  None  Not Displayed  Not Displayed
1721                                 Data Analyst                                  SehatQ     Jakarta  2022-09-28  Full-time                  None  Not Displayed  Not Displayed
1722  Business Intelligence Analyst (Head Office)       Millenium Pharmacon International     Jakarta  2022-09-28  Full-time                  None  Not Displayed  Not Displayed
1723                                 Data Analyst                                 FIT HUB     Jakarta  2022-08-15  Full-time                  None  Not Displayed  Not Displayed

[1724 rows x 8 columns]

## Vacancy by Job Title

In [66]:
roles = 'Data Analyst|Data Scientist|Business Analyst|Data Engineer|Intelligence'

In [67]:
raw_data_copy['Job_Role'] = raw_data_copy['Job Title'].str.findall(roles).str[0]

In [68]:
raw_data_copy.dropna(inplace=True)

In [69]:
raw_data_copy['Industry Category'].unique()

array(['Advertising Services', 'Banking', 'Biotechnology Research',
       'Business Consulting and Services',
       'Computer Hardware Manufacturing', 'Computer and Network Security',
       'Consumer Services', 'Design Services',
       'Education Administration Programs', 'Education Management',
       'Entertainment Providers', 'Environmental Services', 'Farming',
       'Financial Services', 'Fisheries', 'Food Production',
       'Food and Beverage Manufacturing', 'Food and Beverage Services',
       'Freight', 'Fundraising', 'Hospitals and Health Care',
       'Human Resources Services', 'IT Services and IT Consulting',
       'Information Services', 'Insurance', 'Manufacturing',
       'Market Research', 'Media Production', 'Medical Practices',
       'Motor Vehicle Manufacturing', 'Non-profit Organizations',
       'Not Displayed', 'Oil and Gas', 'Online Audio and Video Media',
       'Paper and Forest Product Manufacturing',
       'Personal Care Product Manufacturing',
       'Pharmaceutical Manufacturing', 'Primary and Secondary Education',
       'Professional Training and Coaching', 'Real Estate',
       'Research Services', 'Retail', 'Software Development',
       'Staffing and Recruiting', 'Technology, Information and Internet',
       'Telecommunications', 'Textile Manufacturing',
       'Tobacco Manufacturing',
       'Transportation, Logistics, Supply Chain and Storage',
       'Travel Arrangements', 'Truck Transportation',
       'Venture Capital and Private Equity Principals',
       'Wellness and Fitness Services', 'Public Relations',
       'Chemical Manufacturing', 'Package Transportation',
       'Communications Services', 'Hospitality',
       'Computer Networking Products', 'Airlines and Aviation'],
      dtype=object)

In [70]:
data_cleaned = raw_data_copy.copy()
data_cleaned

                                              Job Title                                       Company Name    Location        Date     Employment                                  Industry Category   Initial Salary  Maximum Salary          Job_Role
0                    Data Scientist (remote, freelance)                                       Hire Digital   Indonesia  2022-09-04      Part-time                               Advertising Services    Not Displayed   Not Displayed    Data Scientist
1                                          Data Analyst                           PT. Tiara Hana Indonesia       Bogor  2022-10-05      Full-time                               Advertising Services    Not Displayed   Not Displayed      Data Analyst
2                                          Data Analyst                                 Kece Entertainment     Jakarta  2022-09-26      Full-time                               Advertising Services    Not Displayed   Not Displayed      Data Analyst
3                                          Data Analyst                        PT. Sigma Digital Nusantara  Yogyakarta  2022-09-29      Full-time                               Advertising Services    Not Displayed   Not Displayed      Data Analyst
4                        Data Analyst Digital Marketing                              DIGIMARKA Corporation      Bantul  2022-09-22      Full-time                               Advertising Services    Not Displayed   Not Displayed      Data Analyst
5                      IT Business Analyst (Internship)                            PT. Nawa Data Solutions     Jakarta  2022-09-09     Internship                                            Banking    Not Displayed   Not Displayed  Business Analyst
6                                   Senior Data Analyst                                    PT Alto Network     Jakarta  2022-09-13      Full-time                                            Banking    Not Displayed   Not Displayed      Data Analyst
7                                   IT Business Analyst                                 Prospero Solutions     Jakarta  2022-09-14      Full-time                                            Banking    Not Displayed   Not Displayed  Business Analyst
8                                   IT Business Analyst                            PT. Swadharma Duta Data     Jakarta  2022-09-11      Full-time                                            Banking          8000000        10000000  Business Analyst
9                                  Junior Data Engineer                               PT Bank Sinarmas Tbk     Jakarta  2022-09-12      Full-time                                            Banking    Not Displayed   Not Displayed     Data Engineer
10                                        Data Engineer           PT Bank Multiarta Sentosa Tbk (Bank MAS)     Jakarta  2022-10-06      Full-time                                            Banking    Not Displayed   Not Displayed     Data Engineer
11                      Business Intelligence & Analyst                                  SeaBank Indonesia     Jakarta  2022-09-05      Full-time                                            Banking    Not Displayed   Not Displayed      Intelligence
12                                        Data Engineer                         PT Bank Aladin Syariah Tbk     Jakarta  2022-09-16      Full-time                                            Banking    Not Displayed   Not Displayed     Data Engineer
13                                         Data Analyst                               RFB Finance Semarang    Semarang  2022-09-29      Full-time                                            Banking    Not Displayed   Not Displayed      Data Analyst
14                                Business Data Analyst                        Discover Financial Services      Fakfak  2022-09-29      Full-time                                            Banking    Not Displayed   Not Displayed      Data Analyst
15                               Principal Data Analyst                        Discover Financial Services      Fakfak  2022-09-24      Full-time                                            Banking    Not Displayed   Not Displayed      Data Analyst
16                                Data Engineer Manager                                      AIA Indonesia     Jakarta  2022-09-18      Full-time                                            Banking    Not Displayed   Not Displayed     Data Engineer
17                                         Data Analyst                                              DELOS     Jakarta  2022-09-16      Full-time                             Biotechnology Research    Not Displayed   Not Displayed      Data Analyst
18                                Business Intelligence                                               Aria     Jakarta  2022-09-07      Full-time                             Biotechnology Research          6000000        10000000      Intelligence
19                                         Data Analyst                                              ASTRO     Jakarta  2022-09-15      Full-time                             Biotechnology Research    Not Displayed   Not Displayed      Data Analyst
20                                       Data Scientist                                               Aria     Jakarta  2022-09-07      Full-time                             Biotechnology Research          6000000        10000000    Data Scientist
21                                  Cloud Data Engineer                               dentsu international     Jakarta  2022-09-23      Full-time                   Business Consulting and Services    Not Displayed   Not Displayed     Data Engineer
22                                 Data Engineer Intern                               dentsu international     Jakarta  2022-09-22      Full-time                   Business Consulting and Services    Not Displayed   Not Displayed     Data Engineer
23    Front Office Business Functional (Business Ana...                        Wilmar Consultancy Services     Jakarta  2022-08-14      Full-time                   Business Consulting and Services    Not Displayed   Not Displayed  Business Analyst
24                           Data Engineer (Yogyakarta)                               amalan international  Yogyakarta  2022-09-09      Full-time                   Business Consulting and Services    Not Displayed   Not Displayed     Data Engineer
25                                        Data Engineer                       PT Edsen Gudang Komputerindo     Jakarta  2022-10-05      Full-time                   Business Consulting and Services    Not Displayed   Not Displayed     Data Engineer
26                   Client Engineering - Data Engineer                                                IBM     Jakarta  2022-10-06      Full-time                    Computer Hardware Manufacturing    Not Displayed   Not Displayed     Data Engineer
27                                         Data Analyst                           Stampindo Lancar Jaya PT     Jakarta  2022-08-26      Full-time                    Computer Hardware Manufacturing    Not Displayed   Not Displayed      Data Analyst
28                                  IT Business Analyst                    Pt. Tiga Daya Digital Indonesia     Jakarta  2022-08-16      Full-time                      Computer and Network Security    Not Displayed   Not Displayed  Business Analyst
29                                         Data Analyst                             Horangi Cyber Security     Jakarta  2022-09-14      Full-time                      Computer and Network Security    Not Displayed   Not Displayed      Data Analyst
30                                  Senior Data Analyst                                       Shox Rumahan     Jakarta  2022-08-09      Full-time                                  Consumer Services         20000000        30000000      Data Analyst
31                                         Data Analyst                     Talenta Sumber Daya Manusia PT     Jakarta  2022-08-29      Full-time                                  Consumer Services    Not Displayed   Not Displayed      Data Analyst
32                                        Data Engineer                                Mattel Asia Pacific      Bekasi  2022-09-17      Full-time                                    Design Services    Not Displayed   Not Displayed     Data Engineer
33                              Data Analyst Internship                 PT. Mega Harapan Mulia (Kelas.com)     Jakarta  2022-08-31     Internship                  Education Administration Programs          4650000         5100000      Data Analyst
34                    Data Analyst Lecturer - Part Time               Purwadhika Digital Technology School     Jakarta  2022-08-10      Part-time                  Education Administration Programs              100             200      Data Analyst
35                                        Data Engineer                   Binar Academy - External Project   Tangerang  2022-09-07       Contract                               Education Management    Not Displayed   Not Displayed     Data Engineer
36                            Data Analyst Section Head                                              RCTI+     Jakarta  2022-09-15      Full-time                            Entertainment Providers    Not Displayed   Not Displayed      Data Analyst
37                                         Data Analyst                                              NOICE     Jakarta  2022-10-06      Full-time                            Entertainment Providers              100             200      Data Analyst
38                                  IT Business Analyst                                         CINEMA XXI     Jakarta  2022-08-27      Full-time                            Entertainment Providers    Not Displayed   Not Displayed  Business Analyst
39                                        Data Engineer                                              RCTI+     Jakarta  2022-10-06      Full-time                            Entertainment Providers    Not Displayed   Not Displayed     Data Engineer
40                                 Spatial Data Analyst                               Earthworm Foundation    Semarang  2022-09-20      Full-time                             Environmental Services    Not Displayed   Not Displayed      Data Analyst
41                                        Data Engineer                                  Chickin Indonesia  Yogyakarta  2022-10-03      Full-time                                            Farming    Not Displayed   Not Displayed     Data Engineer
42                                    Lead Data Analyst                                            AgriAku     Jakarta  2022-09-16      Full-time                                            Farming    Not Displayed   Not Displayed      Data Analyst
43                                         Data Analyst                                            AgriAku     Jakarta  2022-09-05      Full-time                                            Farming    Not Displayed   Not Displayed      Data Analyst
44                         Senior Data Analyst (Growth)                  Funding Societies | Modalku Group     Jakarta  2022-08-23      Full-time                                 Financial Services    Not Displayed   Not Displayed      Data Analyst
45                          Data Engineer (Senior/Lead)                                           Indodana     Jakarta  2022-09-08      Full-time                                 Financial Services    Not Displayed   Not Displayed     Data Engineer
46                                        Data Engineer                                              Virgo     Jakarta  2022-06-04      Full-time                                 Financial Services    Not Displayed   Not Displayed     Data Engineer
47                 Business Intelligence Analyst - Risk                                     GoTo Financial     Jakarta  2022-10-04      Full-time                                 Financial Services    Not Displayed   Not Displayed      Intelligence
48                                        Data Engineer                                    Astra Financial     Jakarta  2022-09-27      Full-time                                 Financial Services    Not Displayed   Not Displayed     Data Engineer
49                                        Data Engineer                                              Finku     Jakarta  2022-09-10      Full-time                                 Financial Services    Not Displayed   Not Displayed     Data Engineer
50                                        Data Engineer                                           Bibit.id     Jakarta  2022-09-02      Full-time                                 Financial Services    Not Displayed   Not Displayed     Data Engineer
51    Business Intelligence Analyst - Merchant Payments                                     GoTo Financial     Jakarta  2022-09-26      Full-time                                 Financial Services    Not Displayed   Not Displayed      Intelligence
52        Telemarketing Data Analyst (Mandarin Speaker)                                           AdaPundi     Jakarta  2022-09-24      Full-time                                 Financial Services    Not Displayed   Not Displayed      Data Analyst
53                             Associate Data Scientist                                         Awan Tunai     Jakarta  2022-09-11      Full-time                                 Financial Services    Not Displayed   Not Displayed    Data Scientist
54                                         Data Analyst                                               JULO     Jakarta  2022-09-19      Full-time                                 Financial Services    Not Displayed   Not Displayed      Data Analyst
55                                       Data Scientist                                            Amartha     Jakarta  2022-09-01      Full-time                                 Financial Services    Not Displayed   Not Displayed    Data Scientist
56                              Data Analyst Operations                                           FinAccel     Jakarta  2022-10-05      Full-time                                 Financial Services    Not Displayed   Not Displayed      Data Analyst
57                       Data Scientist Intern (Remote)                                          AwanTunai     Jakarta  2022-09-04     Internship                                 Financial Services          3000000         3500000    Data Scientist
58                                         Data Analyst                               Valbury Asia Futures     Jakarta  2022-08-16      Full-time                                 Financial Services          5000000         6000000      Data Analyst
59                                         Data Analyst                                  Reku (Rekeningku)     Jakarta  2022-09-12      Full-time                                 Financial Services    Not Displayed   Not Displayed      Data Analyst
60                 Business Intelligence (Data Analyst)                                   Youtap Indonesia     Jakarta  2022-09-08      Full-time                                 Financial Services         10000000        15000000      Intelligence
61                                         Data Analyst                                           Bibit.id     Jakarta  2022-08-18      Full-time                                 Financial Services    Not Displayed   Not Displayed      Data Analyst
62                                  IT Business Analyst                                Pasar Dana Pinjaman     Jakarta  2022-09-08      Full-time                                 Financial Services    Not Displayed   Not Displayed  Business Analyst
63           Business Intelligence - Financial Services                                     GoTo Financial     Jakarta  2022-10-05      Full-time                                 Financial Services    Not Displayed   Not Displayed      Intelligence
64                                       Data Scientist                                           Indodana     Jakarta  2022-08-26      Full-time                                 Financial Services    Not Displayed   Not Displayed    Data Scientist
65                                  Senior Data Analyst                  Funding Societies | Modalku Group     Jakarta  2022-09-20      Full-time                                 Financial Services    Not Displayed   Not Displayed      Data Analyst
66                                  Senior Data Analyst                                              Virgo     Jakarta  2022-09-01      Full-time                                 Financial Services    Not Displayed   Not Displayed      Data Analyst
67                        Business Intelligence Analyst                                           Nanovest     Jakarta  2022-08-12      Full-time                                 Financial Services    Not Displayed   Not Displayed      Intelligence
68              Senior Data Analyst (Risk & Operations)                  Funding Societies | Modalku Group     Jakarta  2022-09-14      Full-time                                 Financial Services    Not Displayed   Not Displayed      Data Analyst
69                                  Senior Data Analyst                  Funding Societies | Modalku Group     Jakarta  2022-09-20      Full-time                                 Financial Services    Not Displayed   Not Displayed      Data Analyst
70         Senior Business Intelligence Analyst - GoPay                                     GoTo Financial     Jakarta  2022-09-21      Full-time                                 Financial Services    Not Displayed   Not Displayed      Intelligence
71                             Data Engineering Analyst                                    Astra Financial     Jakarta  2022-09-09      Full-time                                 Financial Services    Not Displayed   Not Displayed     Data Engineer
72    Business Intelligence & Analyst - Digital Bank...                                           SeaMoney     Jakarta  2022-09-27      Full-time                                 Financial Services    Not Displayed   Not Displayed      Intelligence
73                                  Senior Data Analyst                                           Paper.id     Jakarta  2022-09-07      Full-time                                 Financial Services    Not Displayed   Not Displayed      Data Analyst
74                      Business Intelligence Associate                                     DANA Indonesia     Jakarta  2022-09-29      Full-time                                 Financial Services    Not Displayed   Not Displayed      Intelligence
75    Business Intelligence Analyst- Financial Services                                     GoTo Financial     Jakarta  2022-09-22      Full-time                                 Financial Services    Not Displayed   Not Displayed      Intelligence
76                         Data Engineer & Insight Lead                                    Astra Financial     Jakarta  2022-09-26      Full-time                                 Financial Services    Not Displayed   Not Displayed     Data Engineer
77                                        Data Engineer              PT Astra Welab Digital Arta (Maucash)     Jakarta  2022-09-04      Full-time                                 Financial Services    Not Displayed   Not Displayed     Data Engineer
78                                        Data Engineer                                       Dompet Kilat     Jakarta  2022-06-24      Full-time                                 Financial Services    Not Displayed   Not Displayed     Data Engineer

## Export Cleaned Data To Excel

In [71]:
data_cleaned.to_excel('Data_Related_Profession_Vacancy.xlsx',index =False)